// Mixin for filled button variants
get-button-variant($color, $color-hover = darken($color, 10%), $color-active = darken($color, 20%)) {
  background: $color;
  color: white;

  {hover-focus-active} {
    background: $color-hover;
    color: white;
  }
}

// Mixin for outlined button variants
get-button-outline-variant($color, $color-hover = darken($color, 10%), $color-active = darken($color, 20%)) {
  color: $color;
  border-color: $color;

  {hover-focus-active} {
    background: $color-hover;
    border-color: transparent;
    color: white;
  }
}
