.accordion {
  border-bottom: 1px solid rgba($white, .9);
  &:last-child {
    border: none;
  }
  &__panel {
    flexy(space-between, center);
    padding: 24px 0 33px;
    cursor pointer;
    @media $display-breakpoints.ms-and-down {
      padding: vmin(16px) 0 vmin(21px);
    }
  }
  &__icon {
    absolute(10px, auto, auto, 30px);
    size(25px);
    @media $display-breakpoints.ms-and-down {
      top: vmin(10px);
      right: 0;
    }
    &::after, &::before {
      content: '';
      absolute(0px, 0px);
      background: $white;
      size(100%, 3px);
    }
    &::after {
      transform: rotate(90deg);
      transition: transform .2s ease-in-out;
      transform-origin: 50% 50%;
      .accordion.active & {
        transform: rotate(0deg);
      }
    }
  }
  &__title {
    font: 600 20px/24px $font-base;
    width: 100%;
    padding-right: 70px;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(20px);
      line-height: vmin(24px);
      padding-right: vmin(40px);
    }
  }
  &__content {
    display: none;
  }
  &__content-inner {
    padding: 0 0 27px;
    max-width: 677px;
    @media $display-breakpoints.ms-and-down {
      padding: 0 0 vmin(27px);
    }
  }
}
