@media $display-breakpoints.lg-and-up {
  .a {
    &-fade {
      opacity: 0;
      transition: opacity 0.3s;

      .animate > & {
        opacity: 1;
      }
    }

    &-fade-slide {
      opacity: 0;
      transform: translateY(2rem) translateZ(0);
      transition: transform 0.3s, opacity 0.3s;

      .animate > & {
        opacity: 1;
        transform: translateY(0) translateZ(0);
      }
    }

    &-ordered {
      for $i in 0...10 {
        &:nth-child({$i}) {
          transition-delay: 0.2s * $i;
        }
      }
    }

    &-delay {
      for $i in 0...5 {
        &-{$i} {
          transition-delay: 0.2s * $i;
        }
      }
    }
  }
}
@keyframes fire {
  0% {
    background-position: 0 -50%;
  }
  50% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0 -50%;
  }
}
