.btn {
  relative();
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font: 600 16px/1 $font-base;
  border: 2px solid $red;
  padding: 14px 38px;
  min-width: 111px;
  background: $red;
  border-radius: 200px;
  //transform: translateZ(0);
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  @media $display-breakpoints.sm-and-down {
    padding: 15px 62px;
  }

  @media $display-breakpoints.ms-and-down {
    padding: vmin(15px) vmin(42px);
  }

  {hover-focus-active} {
    text-decoration: none;
    outline: none;
    color: $white;
  }

  &:hover {
    background-color: transparent;
    color: $red;
  }

  .age & {
    max-width: 150px;
  }

  &--icon {
    svg {
      size(20px);
      absolute(16px, 73px)
      @media $display-breakpoints.ms-and-down {
        size(vmin(20px));
        absolute(vmin(16px), vmin(73px))
      }
    }
  }
  &--secondary {
    background-color: transparent;
    border-color: $white;
  }
  &--util {
    size(208px, 52px);
    padding: 0;
    line-height: 52px;
    border: none;
    background: url("../img/btn-bg.png") center no-repeat;
    background-size: contain;
    &:hover {
      color: $white !important;
    }
  }
  &--plain {
    background: transparent;
    padding: 0;
    min-width: 0;
    border: 0;
    font: 400 14px/21px $font-base;
    border-radius: 0;
    box-shadow: none;
    text-decoration: underline;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(14px);
      line-height: vmin(21px);
    }
    &::after {
      display: none;
    }
    &:hover {
      background: transparent;
      color: $red;
      text-decoration: none;
    }
  }
  &--plain-link {
    background: transparent;
    padding: 0;
    min-width: 0;
    border: 0;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    font: 500 10px/1 $font-base;
    letter-spacing: 0.01em;
  }

  &--circle {
    min-width: 44px;
    circle(44px);
    font-size: 22px;
    padding: 10px;

    .icon {
      font-size: 20px;
      display: block;
    }
  }
}

.btn-search {
  size(47px, 46px);
  background: $red;
  border: 1px solid $white;
  border-left: none;
  @media $display-breakpoints.ms-and-down {
    size(vmin(45px), vmin(43px));
  }
  &:hover {
    background: $red;
  }
  .icon {
    size(16px);
  }
}

.btn-menu {
  size(28px, 11px);
  cursor: pointer;
  display: none;
  @media $display-breakpoints.sm-and-down {
    display: block;
  }
  @media $display-breakpoints.ms-and-down {
    size(vmin(28px), vmin(11px));
  }

  &:hover {
    .top,
    .bottom,
    .middle{
      background: $red;
    }
  }

  .top,
  .bottom,
  .middle{
    absolute(0, 0px);
    size(100%, 3px);
    border-radius: 5px;
    background: $white;
    transition: all 0.3s;
    @media $display-breakpoints.ms-and-down {
      height: vmin(3px);
    }
  }

  .top {
    top: 0;
  }
  .bottom {
    bottom: 0;
  }
  .middle {
    top: 13px;
    @media $display-breakpoints.ms-and-down {
      top: vmin(10px);
    }
  }
  &.opened {
    color: $white;
    .text {
      opacity: 0;
      transform: rotate(-45deg);
    }
    .top {
      transform: translateY(4px) rotate(-45deg);
      @media $display-breakpoints.ms-and-down {
        transform: translateY(vmin(4px)) rotate(-45deg);
      }
    }
    .middle {
      display: none;
    }
    .bottom {
      transform: translateY(-4px) rotate(45deg);
      @media $display-breakpoints.ms-and-down {
        transform: translateY(vmin(-4px)) rotate(45deg);
      }
    }
  }
}

.btn-volume {
  color: $white;

  &.off {
    color: $primary;
  }
}

.btn-share {
  size(2.5rem);
  padding: 12.5px;
  margin: -12.5px;
}

.btn-more {
  color: $primary;
  padding: 0;
  font: 600 10px/1 $font-base;
  text-transform: uppercase;
  flexy(center, flex-start);

  .text {
    margin: 0;
  }

  .icon {
    margin-left: 0.5em;
    transition: transform 0.3s;
    transform: rotate(0deg);
    transform-origin: center;

    .open & {
      transform: rotate(180deg);
    }
  }
  .hide {
    display: none;

    .open & {
      display: inline;
    }
  }

  .read {
    .open & {
      display: none;
    }
  }
}
