.field {
  text-align: left;
  flexy(flex-start, center);
  flex-wrap: wrap;

  & + & {
    margin-top: 25px;
    @media $display-breakpoints.ms-and-down {
      margin-top: vmin(25px);
    }
    .field__error {
      .profile__row--line & {
        padding-left: 0;
        width: 100%;
      }
    }
  }
  &--search {
    width: 254px !important;
    flex-wrap: nowrap;
    @media $display-breakpoints.ms-and-down {
      width: 100% !important;
      display: flex !important;
    }
    .field__label {
      @media $display-breakpoints.ms-and-down {
        min-width: 0;
      }
    }
    .field__input {
      padding: 12px 19px 11px;
      @media $display-breakpoints.ms-and-down {
        padding: vmin(12px) vmin(16px) vmin(11px);
        width: 100%;
      }
    }
  }
  &__preview {
    size(100px, 91px);
    border-radius: 0;
    border: 1px solid $white;
    margin-right: 17px;
    background-color: $grey-l;
    @media $display-breakpoints.ms-and-down {
      margin-right: vmin(18px);
      size(vmin(116px), vmin(91px));
      display: inline-block;
      vertical-align: top;
    }
    &:nth-child(2n + 1) {
      @media $display-breakpoints.ms-and-down {
        margin-right: 0;
      }
    }
  }
  &__input,
  &__placeholder,
  &__file,
  &__file .selected {
    font: 14px/21px $font-base;
    padding: 12px 16px;

    @media $display-breakpoints.ms-and-down {
      padding: vmin(17px) vmin(18px);
      font-size: vmin(16px);
      line-height: vmin(18px);
    }
  }

  &__input {
    &[type="file"] {
      size(0px);
      position: absolute;
      padding: 0;
      overflow: hidden;
      opacity: 0;
      border: none;
    }
  }

  &__info {
    border: none;
    background: transparent;
    outline: none;
    position: relative;
    cursor: pointer;
    &:hover .tooltip {
      opacity: 1;
    }
    svg.icon {
      position: static;
      size(22px);
      @media $display-breakpoints.ms-and-down {
        size(vmin(22px));
      }
    }
  }

  .tooltip {
    display: block;
    absolute(25px, 22px);
    width: 420px;
    padding: 20px 26px;
    box-sizing: border-box;
    background-color: $white;
    font: 500 14px/21px $font-base;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    border-radius: 22px;
    color: $black;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: opacity .2s ease-in-out;
    @media $display-breakpoints.sm-and-down {
      left: -100px;
      top: 33px;
    }
    @media $display-breakpoints.ms-and-down {
      width: vmin(300px);
      padding: vmin(20px) vmin(26px);
      font-size: vmin(14px);
      line-height: vmin(21px);
      right: -50%;
      transform: translateX(17.5%);
      left: auto
    }
    &::before {
      content: '';
      size(26px, 27px);
      absolute(-11px, -9px);
      background: url("../img/polygon.svg") 0 0 no-repeat;
      @media $display-breakpoints.sm-and-down {
        left: 109px;
        top: -14px;
        transform: rotate(32deg);
      }
      @media $display-breakpoints.ms-and-down {
        right: 59px;
        left: auto;
      }
    }
  }

  .suggestions-wrapper {
    absolute(56px, 0px);
    width: 100%;
    background: $yellowPopup;
    color: $redMain;
    z-index: 2;
    .suggestions-suggestions {
      padding: 10px 20px;
    }
  }

  &__input,
  &__file {
    display: block;
    max-width: 336px;
    width: 100%;
    border: 1px solid $white;
    color: $white;
    background-color: $grey-l;
    box-sizing: border-box;
    appearance: none;

    {hover-focus-active} {
      outline: none;
    }

    @media $display-breakpoints.ms-and-down {
      max-width: 100%;
    }

    .has-error & {
      //border-color: $redMain;
    }


    &[disabled] {
      //opacity: 0.5;
    }

    textarea& {
      height: 125px;
      width: 384px;
      padding: 10px 15px 10px;
      margin: 0 auto;
      border: 1px solid $white;
      background: $grey-l;
      font: 400 14px/17px $font-base;
      text-transform: none;
      color: $white;
      box-sizing: border-box;
      resize: none;

      @media $display-breakpoints.ms-and-down {
        height: vmin(125px);
        width: vmin(288px);
        padding: vmin(10px) vmin(15px) vmin(10px);
        font-size: vmin(14px);
        line-height: vmin(17px);
      }
    }
  }

  &__placeholder,
  &--file .selected{
    absolute(0px, 0px);
    color: $white;
    transition: opacity 0.3s, transform 0.3s;
    cursor: text;

    ^[0]__input:focus ~ &,
    ^[0].has-focus &,
    ^[0].has-value & {
      opacity: 0;
      transform: translateX(20%);
    }
  }

  &__name-text{
    absolute(0px, 0px, 0px, 0px);
    font: 600 14px/46px $font-base;
    cursor: pointer;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(14px);
      line-height: vmin(46px);
    }
  }

  &-path {
    &__path {
      font: 400 14px/46px $font-base;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 160px;
      @media $display-breakpoints.ms-and-down {
        font-size: vmin(14px);
        line-height: vmin(17px);
        max-width: vmin(300px);
      }
      ._show-path & {
        margin-right: 30px;
        @media $display-breakpoints.ms-and-down {
          margin: vmin(20px) auto;
          text-align: center;
        }
      }
    }
  }

  &__error {
    //display: none;
    width: 336px;
    flex-basis: 100%;
    text-align: left !important;
    padding-left: 173px;
    margin: 11px auto 0;
    pointer-events: none;
    text-align: center;
    color: #C4C4C4;
    font: 400 12px/15px $font-base;
    transition: opacity .2s ease-in-out;

    @media $display-breakpoints.ms-and-down {
      font-size: vmin(12px);
      line-height: vmin(15px);
      width: 100%;
      transform: none;
      margin-top: vmin(11px);
      padding-left: 0;
    }
    .field--checkbox & {
      padding-left: 0;
    }
    .field__label-text--top & {
      padding: 0 10px;
      text-align: center !important;
    }
  }

  &__label {
    relative();
    display: block;
    @media $display-breakpoints.ms-and-down {
      min-width: 100%;
    }

    &--msg {
      &::after {
        content: '';
        size(40px, 21px);
        absolute(auto, 70px, -20px, auto);
        background: url("../img/Vector 16.png") 0 0 no-repeat;
        background-size: contain;
        @media $display-breakpoints.ms-and-down {
          size(vmin(40px), vmin(21px));
          left: vmin(35px);
          bottom: vmin(-20px);
        }
       }
    }

    &--avatar {
      size(100px);
      border-radius: 50%;
      background: transparent;
      padding: 0 !important;
      min-width: 0 !important;
      @media $display-breakpoints.ms-and-down {
        width: vmin(64px) !important;
        height: vmin(64px);
      }
      &::after {
        display: none;
      }
      .field__edit {
        right: 50%;
        left: 50%;
        right: auto;
      }
    }

    &.has-error ~ .field__error {
      opacity: 1;
      @media $display-breakpoints.ms-and-down {
        display: block;
        position: static;
      }
    }

    &.has-error .field__error {
      opacity: 1;
      @media $display-breakpoints.ms-and-down {
        display: block;
        left: 0;
        top: vmin(56px);
      }
    }

    &--file {
      padding: 23px 0 !important;
      min-width: 200px;
      box-sizing: border-box;
      cursor: pointer;

      @media $display-breakpoints.ms-and-down {
        padding: vmin(23px) !important;
        width: vmin(260px);
        margin-right: auto;
        margin-left: auto;
        margin-bottom: vmin(50px);
      }
      .popup & {
        @media $display-breakpoints.ms-and-down {
          margin-bottom: 0;
        }
      }

      svg {
        size(20px);
        absolute(16px, 73px)
        @media $display-breakpoints.ms-and-down {
          size(vmin(20px));
          absolute(vmin(16px), vmin(73px))
        }
      }

      .field__label-text {
        position: static;
        vertical-align: middle;
        color: $yellow;
        font: 18px/24px $font-base;
        text-transform: uppercase;
        @media $display-breakpoints.ms-and-down {
          font-size: vmin(18px);
          line-height: vmin(24px);
        }
      }

      .field__placeholder {
        bottom: 0;
        right: 0;
        text-align: center;
      }
    }
  }

  &__label-text {
    font: 400 16px/20px $font-base;
    margin-right: 0;
    color:$white;
    width: 173px;

    @media $display-breakpoints.ms-and-down {
      font-size: vmin(16px);
      line-height: vmin(20px);
      width: auto;
    }

    &--top {
      display: block;
      width: auto;
      .field__label-text {
        text-align: center;
        margin: 0 auto 8px;
        max-width: 211px;
        @media $display-breakpoints.ms-and-down {
          margin-bottom: vmin(8px);
        }
      }
      .field__input {
        margin: 0 auto;
      }
    }

    ^[0]--required &::after {
      content: '*';
      margin-left: 0.25em;
      vertical-align: top;
      color: $secondary;
    }
  }

  &--textarea {
    align-items: flex-start;

    & ^[0]__label-text {
      margin-top: vmin(16);
    }
  }
}

.flow-textarea {
  overflow: hidden;
  resize: none;

  &-example {
    font: 300 vw(24)/1 $font-base;
    padding: vw(16) 0;
    absolute(100%, 0px);
    width: 100%;
    z-index: -100;
    opacity: 0;

    @media $display-breakpoints.sm-and-down {

    }
  }
  &-label {
    overflow: hidden;
  }
}

.qr-block__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 22px;
  size(300px, 189px);
  border: 2px solid $white;
  overflow: hidden;
  @media $display-breakpoints.ms-and-down {
    margin-bottom: vmin(22px);
    size(vmin(300px), vmin(189px));
  }
  img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.field--file {
  .field {
    &__input {
      absolute(0px, 0px);
      opacity: 0;
      padding: vmin(7) vmin(20);
      color: $black;

      @media $port {
        padding: vmin(5, 320) vmin(16, 320);
      }
    }
    &__placeholder,
    &__file .selected {
      top: vmin(-3)
      left: vmin(-3)
      bottom: vmin(-3);
      color: $black;

      @media $port {
        top: vmin(-3, 320);
        left: vmin(-3, 320);
        bottom: vmin(-3, 320);
      }
    }
    &__file {
      height: vmin(48)

      @media $port {
        height: vmin(44, 320);
      }

      .selected {
        text-transform none
      }
    }
    &__btn {
      absolute(vmin(3));
      right: vmin(3);
      font-size: vmin(18);
      padding: 0.5em 1em;
      border: 0;
      background: $white;
      border-radius: vmin(4)

      @media $port {
        top: vmin(3, 320);
        right: vmin(3, 320);
        font-size: vmin(16, 320);
        border-radius: vmin(4, 320);
      }
    }
  }
}

.field--checkbox {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  // @media $display-breakpoints.ms-and-down {
  //   max-width: 300px;
  // }
  .field {
    &__label {
      flexy(flex-start, center);
    }
    &__check{
      width: 18px;
      height: 10px;
      position: absolute;
      top: 4px;
      left: 2px;
      border: 3px solid $red;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
      transition: opacity .3s ease-in-out;
      @media $display-breakpoints.ms-and-down {
        width: vmin(18px);
        height: vmin(10px);
        top: vmin(4px);
        left: vmin(2px);
        border: vmin(3px) solid $red;
        border-top: none;
        border-right: none;
      }
    }
    &__input {
      display none;
      &:checked ~ .field__check{
        opacity: 1;
      }
    }
    &__box {
      flexy(center, center);
      flex: 0 0 24px;
      size(24px);
      border-radius: 2px;
      border: 1px solid #C4C4C4;
      background-color: $white;
      color: $black;
      margin-right: 17px;
      cursor pointer;
      @media $display-breakpoints.ms-and-down {
        flex: 0 0 vmin(24px);
        size(vmin(24px));
        margin-right: vmin(10px);
      }

      &.has-error {
        border-color: $redMain;

        & ~ .field__text {
          color: $redMain;
        }

      }
    }
    &__text {
      font: 14px/21px $font-base;
      color: $white;
      @media $display-breakpoints.ms-and-down {
        font-size: vmin(12px);
        line-height: vmin(18px);
      }

      a {
        color: inherit;
        text-decoration underline;
        transition: all 0.2s ease-in-out;
        &:hover {
          text-decoration: none;
          color: $red;
        }
      }
    }
  }

  .icon-check {
    size(100%);
    margin-top: vmin(-6);
    margin-right: vmin(-6);
    opacity: 0;
    transition: opacity 0.3s;

    use {
      stroke-width: vmin(6)

      @media $port {
        stroke-width: vmin(6, 320);
      }
    }

    ^[0].is-checked & {
      opacity: 1;
    }
  }
  &.is-checked .icon-check {
    opacity: 1;
  }
}
.form {
  &__field {
    width: 100%;
    @media $display-breakpoints.ms-and-down {
      display: block;
    }
    &--start {
      align-items: flex-start;
    }
    &--wrap {
      flex-wrap: wrap;
    }
  }
  &__tip {
    font: bold 12px/16px $font-base;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 16px;
    @media $display-breakpoints.ms-and-down {
      margin-top: vmin(16px);
      font-size: vmin(12px);
      line-height: vmin(16px);
    }
    .symbol-left {
      color: $redMain;
      margin-left: 6px;
    }
  }
}

.g-recaptcha {
  flexy(center, center);
  margin-top: 15px;
  @media $display-breakpoints.ms-and-down {
    margin-top: vmin(15px);
  }
}
