/* ==========================================================================
  BASIC - LAYOUT
   ========================================================================== */
html, body {
  background: $grey;
  font: normal $font-size-base/1.5 $font-base;
  color: $white;
  overflow-x: hidden;

  .is-scrolling {
    pointer-events: none;
  }
}
body {
  min-width: initial;
  .popup-opened & {
    overflow: hidden;
  }
}
.l-container {
  relative();
  margin-right: auto
  margin-left: auto
  width: 100%;
  min-width: $container-widths.min;
  max-width: $container-widths.max;
  //padding: 0 $container-gutter;
  padding: 0 40px;

  @media $display-breakpoints.sm-and-down {
    max-width: 768px;
    padding: 0 45px;
  }
  @media $display-breakpoints.ms-and-down {
    padding: 0 vmin(20px);
    max-width: vmin(360px);
  }

  &-fluid {
    padding: 0 1.5rem;
  }
}

.page {
  &__heading {
    margin: 60px 0 36px;
    @media $display-breakpoints.ms-and-down {
      margin: vmin(50px) 0 vmin(35px);
    }
  }
  &--popups {
    background: url("../img/texture.jpg") 0 0 repeat-y;
    background-size: cover;
    padding: 170px 30px;
    min-height: 100vh;
    & ~ .footer {
      display: none;
    }
  }
  &__search {
    flexy(flex-start, center);
    @media $display-breakpoints.sm-and-down {
      flex-direction: column;
    }
    @media $display-breakpoints.ms-and-down {
      margin-top: vmin(25px);
      align-items: flex-start;
    }
    &-title {
      font: 400 18px/22px $font-base;
      text-transform: none;
      margin-right: 30px;
      @media $display-breakpoints.sm-and-down {
        margin-bottom: 5px;
        margin-right: 0;
      }
      @media $display-breakpoints.ms-and-down {
        font-size: vmin(18px);
        line-height: vmin(22px);
        margin-bottom: vmin(5px);
      }
    }
  }
}

._mobile {
  display: none !important;
  @media $display-breakpoints.ms-and-down {
    display: block !important;
  }
}

.layout {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;

  .page {
    flex-grow: 1;
    width: 100%;
  }
  &--islogin {
    .main-menu__link--lk {
      display: none;
    }
  }
  &--inner {
    .intro__logo {
      .icon {
        size(170px, 111px);
        @media $display-breakpoints.sm-and-down {
          size(118px, 77px);
        }
      }
    }
    .intro {
      @media $display-breakpoints.sm-and-down {
        display: flex;
      }
      &__title {
        max-width: 290px;
        text-align: left;
        margin-left: 30px;
        margin-top: 13px;
        font-size: 54px;
        line-height: 54px;
        @media $display-breakpoints.sm-and-down {
          font-size: 34px;
          line-height: 34px;
        }
        @media $display-breakpoints.ms-and-down {
          font-size: vmin(24px);
          line-height: vmin(24px);
          margin-top: vmin(15px);
          margin-left: vmin(15px);
        }
        .line {
          font-size: 64px;
          line-height: 62px;
          @media $display-breakpoints.sm-and-down {
            font-size: 44px;
            line-height: 44px;
          }
          @media $display-breakpoints.ms-and-down {
            font-size: vmin(29px);
            line-height: vmin(28px);
          }
        }
      }
    }
  }
  &--dummy {
    background: url("../img/texture.jpg") 0 0 repeat-y;
    background-size: cover;
    .l-container {
      flexy(center, center);
      min-height: 100vh;
    }
  }
  &--home {
    background: url("../img/texture.jpg") 0 0 repeat-y;
    background-size: cover;
    .footer__content {
      padding-left: 17px;
      @media $display-breakpoints.sm-and-down {
        padding-left: 0;
      }
    }
  }
  &--account {
    background: url("../img/bg-account.jpg") 0 0 repeat-y;
    background-size: cover;
  }
  &--faq {
    background: url("../img/bg-faq.jpg") 0 0 repeat-y;
    background-size: 100% auto;
    @media $display-breakpoints.sm-and-down {
      background-size: cover;
    }
  }
  &--about {
    background: url("../img/bg-about.jpg") 0 0 repeat-y;
    background-size: cover;
  }
  &--products {
    background: url("../img/bg-products.jpg") 0 0 repeat-y;
    background-size: cover;
    @media $display-breakpoints.ms-and-down {
      background-size: 300% auto;
    }
  }
  &--rules {
    background: url("../img/bg-rules.jpg") 0 0 repeat-y;
    background-size: cover;
  }
  &--winners {
    background: url("../img/bg-account.jpg") 0 0 repeat-y;
    background-size: cover;
  }
}

.l-spacer {
  flex-grow: 1
}

.l-float {
  &--left {
    float: left;

    ^[0]--outside& {
      margin-left: -52%;
    }
  }
  &--right {
    float: right;

    ^[0]--outside& {
      margin-right: -52%;
    }
  }
  &--outside {
    width: 75%;
  }
}

.st {
  position: static;
}

.order-0 {
  @media $display-breakpoints.ms-and-down {
    order: 0;
  }
}

.order-1 {
  @media $display-breakpoints.ms-and-down {
    order: 1;
  }
}

.order-2 {
  @media $display-breakpoints.ms-and-down {
    order: 2;
  }
}

video {
  display: block;
  width: 100%;
  height: auto;
}

body > canvas, .wave-image {
  display: none;
}
