.popup {
  fixed(0px, 0px);
  size(100vw, 100%);
  z-index: 99;
  display: none;
  background: rgba(#1A1919, 0.6);
  backdrop-filter: blur(3px);
  overflow-y: auto;
  @supports (-ms-ime-align:auto) {
    overflow-x: hidden;
  }
  @media $display-breakpoints.ms-and-down {
    backdrop-filter: none;
  }
  &--big {
    .popup__window {
      max-width: 998px;
    }
  }
  &--small {
    .popup__window {
      max-width: 523px;
    }
    .popup__text {
      max-width: 355px;
      margin-left: auto;
      margin-right: auto;
    }
    .popup__content {
      padding: 65px 10px;
      @media $display-breakpoints.ms-and-down {
        padding: vmin(40px) vmin(10px) vmin(45px);
      }
    }
  }
  .products {
    padding: 50px 76px;
    @media $display-breakpoints.sm-and-down {
      padding: 30px 45px;
    }
    @media $display-breakpoints.ms-and-down {
      padding: vmin(65px) vmin(30px) vmin(30px);
    }
    .popup__heading {
      font: 400 24px/29px $font-base;
      max-width: none;
      margin-bottom: 32px;
      @media $display-breakpoints.ms-and-down {
        font-size: vmin(24px);
        line-height: vmin(29px);
        margin-bottom: vmin(45px);
      }
    }
  }
  &__inner {
    border: solid 4px $white;
    background-color: $grey;
    @media $display-breakpoints.ms-and-down {
      border: none;
    }
  }
  &__window {
    width: 100%;
    max-height: 100vh;
    max-width: 768px;
    absolute(50%, 50%);
    transform: translate(-50%, -50%);
    display: none;
    @media $display-breakpoints.ms-and-down {
      transform: none;
      top: 0;
      left: 0;
      margin-top: 0;
      background: $yellow;
      min-height: 100vh;
    }
  }

  &__heading {
    color: $white;
    text-align: center;
    margin-bottom: 20px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(22px);
      line-height: vmin(26px);
      margin-bottom: vmin(20px);
      max-width: vmin(316px);
    }
    br {
      @media $display-breakpoints.ms-and-down {
        display: none;
      }
    }
  }

  &__link {
    margin-top: 20px;
  }

  &__form {
    margin: 0 auto;
    @media $display-breakpoints.ms-and-down {
      max-width: vmin(288px);
    }
  }

  &__btns {
    flexy(center, center);
    text-align: center;
    margin-top: 19px;
    @media $display-breakpoints.ms-and-down {
      margin-top: vmin(19px);
      flex-direction: column;
    }
    &-sep {
      font: 400 14px/21px $font-base;
      margin: 0 10px 0 21px;
      @media $display-breakpoints.ms-and-down {
        font-size: vmin(14px);
        line-height: vmin(21px);
        margin: vmin(4px) 0 0;
      }
    }
    &--row {
      flex-direction: column;
      .btn {
        min-width: 297px;
      }
      .btn + .btn {
        margin-top: 16px;
        margin-left: 0 !important;
        @media $display-breakpoints.ms-and-down {
          margin-top: vmin(16px);
          margin-left: 0 !important;
        }
      }
    }
    &--lowmrg {
      @media $display-breakpoints.ms-and-down {
        margin-top: vmin(16px);
      }
    }

    .send_success & {
      margin-top: 40px;
    }

    .send_letter & {
      margin-top: 15px;
      @media $display-breakpoints.ms-and-down {
        margin-top: vmin(15px);
      }
    }

    .btn + .btn {
      margin-left: 28px;
      @media $display-breakpoints.ms-and-down {
        margin-top: vmin(20px);
        margin-left: 0;
      }
    }
  }

  &__close {
    absolute(32px, auto, auto, 34px);
    z-index: 5;
    size(18px);
    color: $black;
    cursor: pointer;
    @media $display-breakpoints.ms-and-down {
      top: vmin(20px);
      right: vmin(20px);
    }

    {hover-focus-active} {
      color: $black;
    }

    &:hover {
      svg {
        fill: $black;
        path {
          fill: currentColor;
        }
      }
    }

    .unclosed & {
      display: none;
    }

    ^[0].unclosed & {
      display: none;
    }
  }

  &__inner {
    @media $display-breakpoints.ms-and-down {
      min-height: 100vh;
      flexy(flex-start, center);
    }
  }

  &__text {
    text-align: center;
    margin: 20px 0;
    @media $display-breakpoints.ms-and-down {
      margin: vmin(20px)
    }
    a {
      text-decoration: underline;
      transition: all 0.2s ease-in-out;
      &:hover {
        text-decoration: none;
        color: $red;
      }
    }
  }

  &__content {
    width: 100%;
    padding: 46px 10px 48px;
    @media $display-breakpoints.ms-and-down {
      padding: vmin(60px) vmin(10px) vmin(45px);
    }
    ^[0]--video & {
      padding: 0;

      .video {
        overflow: hidden;
      }
    }
    &.feedback {
      padding-left: 50px;
      padding-right: 50px;
      @media $display-breakpoints.ms-and-down {
        padding-left: vmin(10px);
        padding-right: vmin(10px);
      }
      .popup__heading {
        margin: 0 0 47px;
        text-align: left;
        @media $display-breakpoints.ms-and-down {
          margin-bottom: vmin(30px);
        }
      }
      .field__input {
        padding: 9px 16px 8px;
        min-width: 207px;
        @media $display-breakpoints.ms-and-down {
          padding: vmin(9px) vmin(16px) vmin(8px);
        }
      }
      .g-recaptcha {
        margin: 29px auto 19px;
        @media $display-breakpoints.ms-and-down {
          margin: vmin(29px) auto vmin(19px);
        }
      }
      .popup__btns {
        justify-content: flex-start;
        padding-left: 173px;
        @media $display-breakpoints.ms-and-down {
          padding-left: 0;
        }
      }
    }
  }
}

.popup{
  &__services {
    flexy(center, center);
    text-align: center;
    margin: 0 auto 26px;
    @media $display-breakpoints.ms-and-down {
      margin-bottom: vmin(26px);
    }
    .icon {
      size(38px, 38px);
      @media $display-breakpoints.ms-and-down {
        size(vmin(30px));
      }
    }
  }
  &-service {
    flexy(center, center);
    size(73px);
    background-color: $red;
    border: 1px solid $white;
    margin-right: 22px;
    box-shadow: 0px 0px 35px rgba(255, 0, 0, 0.8);
    transition: box-shadow .2s ease-in-out;
    @media $display-breakpoints.ms-and-down {
      margin-right: vmin(22px);
      size(vmin(60px));
    }
    &:hover {
      box-shadow: 0px 0px 40px rgba(255, 0, 0, 0);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.crop-block {
  width: 316px;
  margin: 0 auto;
  .cropper-view-box {
    outline-color: $white;
  }
  .cropper-point {
    background: $white;
    size(10px);
    border-radius: 50%;
  }
  .cropper-point.point-e {
    margin-top: -5px;
    right: -5px;
    display: none;
  }

  .cropper-point.point-n {
    margin-left: -5px;
    top: -5px;
    display: none;
  }

  .cropper-point.point-w {
    left: -5px;
    margin-top: -5px;
    display: none;
  }

  .cropper-point.point-s {
    bottom: -5px;
    margin-left: -5px;
    display: none;
  }

  .cropper-point.point-ne {
    right: -5px;
    top: -5px;
  }

  .cropper-point.point-nw {
    left: -5px;
    top: -5px;
  }

  .cropper-point.point-sw {
    bottom: -5px;
    left: -5px;
  }

  .cropper-point.point-se {
    bottom: -5px;
    right: -5px;
  }
  &__img {
    max-width: 100%;
    display: block;
  }
}

.popup__content{
  &.letter {
    padding-bottom: 8px;
    @media $display-breakpoints.ms-and-down {
      //padding-top: vmin(112px);
      padding: 0;
    }
  }
  &.letter_text {
    @media $display-breakpoints.ms-and-down {
      padding: 0 vmin(36px);
    }
    .letter-info {
      @media $display-breakpoints.ms-and-down {
        padding: 0;
      }
    }
  }
}
