$text-color = $white;
$link-color = $text-color;
$link-color--active = $link-color;

html, body {
  font-size: $font-size-base;
  line-height: 1.5;
  font-family: $font-base;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;

  {hover-focus-active} {
    color: $link-color--active;
    outline: 0;
  }
}

sub, sup {
  font-size: 60%;
  vertical-align: super;
  top: initial;
}

.tp-heading {
  &--large {
    font: 400 100px/100px $font-util;
    text-transform: uppercase;
    @media (min-width: 1200px) and (max-width: 1400px) and (max-height: 700px) {
      font-size: 70px;
      line-height: 70px;
    }
    @media $display-breakpoints.sm-and-down {
      font-size: 75px;
      line-height: 75px;
    }
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(24px);
      line-height: vmin(24px);
    }
    .line {
      font-size: 120px;
      @media (min-width: 1200px) and (max-width: 1400px) and (max-height: 700px) {
        font-size: 90px;
      }
      @media $display-breakpoints.sm-and-down {
        font-size: 90px;
        line-height: 87px;
      }
      @media $display-breakpoints.ms-and-down {
        font-size: vmin(29px);
        line-height: vmin(28px);
      }
    }
  }
  &--semi-large {
    font: 400 60px/80px $font-util;
    text-transform: uppercase;
    @media $display-breakpoints.sm-and-down {
      font-size: 132px;
    }
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(85px);
      line-height: vmin(62px);
    }
    .nowrp {
      @media $display-breakpoints.sm-and-down {
        white-space: nowrap;
      }
      @media $display-breakpoints.ms-and-down {
        white-space: normal;
      }
    }
    .first {
      @media $display-breakpoints.sm-and-down {
        font-size: 50px;
      }
      @media $display-breakpoints.ms-and-down {
        font-size: vmin(50px);
        line-height: vmin(62px);
      }
    }
    .line {
      font-size: 120px;
      line-height: 80px;
      @media $display-breakpoints.sm-and-down {
        font-size: 132px;
        line-height: 88px;
      }
      @media $display-breakpoints.ms-and-down {
        font-size: vmin(85px);
        line-height: vmin(57px);
      }
    }
  }
  &--semi-big {
    font: 400 53px/70px $font-util;
    @media $display-breakpoints.sm-and-down {
      font-size: 50px;
    }
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(49px);
      line-height: vmin(60px);
    }
  }
  &--big {
    font: 700 36px/44px $font-base;
    text-transform: uppercase;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(28px);
      line-height: vmin(36px);
    }
  }
  &--medium {
    font: 700 25px/37px $font-base;
    text-transform: uppercase;
  }
  &--semi-small {
    font: 400 18px/22px $font-base;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(18px);
      line-height: vmin(22px);
    }
  }
  &--small {
    font: 700 20px/30px $font-base;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(20px);
      line-height: vmin(30px);
    }
  }
}
.tp-body {
  &--big {
    font: 400 18px/22px $font-base;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(18px);
      line-height: vmin(22px);
    }
  }
  &--medium-b {
    font: 700 16px/20px $font-base;
    @media $display-breakpoints.sm-and-down {
      font-size: 18px;
    }
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(18px);
      line-height: vmin(20px);
    }
  }
  &--semi-medium {
    font: 500 16px/20px $font-base;
    @media $display-breakpoints.sm-and-down {
      font-size: 18px;
    }
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(16px);
      line-height: vmin(20px);
    }
  }
  &--medium {
    font: 600 16px/20px $font-base;
    @media $display-breakpoints.sm-and-down {
      font-size: 18px;
    }
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(16px);
      line-height: vmin(20px);
    }
  }
  &--base {
    font: 400 16px/20px $font-base;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(15px);
      line-height: vmin(19px);
    }
  }
  &--small {
    font: 500 14px/1.2 $font-base;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(15px);
      line-height: vmin(23px);
    }
  }
  &--smaller {
    font-size: 11px;
  }
}
b, strong {
  font: inherit;
  font-weight: bold;
}
.tp-text {
  for $align in (left right center) {
    &--{$align} {
      text-align: $align;
    }
  }
  &--light {
    opacity: 0.8;
  }
  &--lighter {
    opacity: 0.6;
  }
  &--lightest {
    opacity: 0.5;
  }
  &--upper {
    text-transform: uppercase;
  }
  &--lower {
    text-transform: lowercase;
  }
  &--truncate {
    truncate();
  }
  &--nowrp {
    white-space: nowrap;
  }
}

p {
  margin: 1.5em 0;
  no-childs-margin();
}

.primary {
  color: $primary;
}

.ifr-video {
  margin: 2.5rem auto;

  &--small {
    max-width: 450px;
  }

  &__inner {
    padding-bottom: 56.25%;
  }

  iframe {
    absolute(0px, 0px);
    size(100%);
    border: 0;
  }
}

.highlight {
  color: $yellow;
}

.underline {
  text-decoration: underline;
}

.article {
  margin-bottom: 4.5rem;

  @media $display-breakpoints.ms-and-down {
    margin-bottom: 2.5rem;
  }

  &__heading {
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    @media $display-breakpoints.ms-and-down {
      margin-bottom: 1rem;
    }
  }
  .text {
    max-width: 45em;
    margin: 2rem 0;

    @media $display-breakpoints.ms-and-down {
      margin: 1rem 0;
    }

    a {
      text-decoration: underline;
    }
  }
}

.picture {
  margin: 4rem 0;
  flexy(flex-start, center);

  @media $display-breakpoints.sm-and-down {
    margin: 2.5rem 0;
  }

  @media $display-breakpoints.ms-and-down {
    display: block;
    margin: 2rem 0 1.5rem;
  }

  &__info {
    order: -1;
    flex: 0 0 25.3%;
    padding-right: 1rem;
  }
  &__img {
    flex: 0 0 74.6%;

    @media $display-breakpoints.ms-and-down {
      margin: 0 -20px;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__caption {
    font: italic 500 11px/2.27 $font-base;
    letter-spacing: 0.01em;

    @media $display-breakpoints.ms-and-down {
      font-size: 12px;
      line-height: 1.5;
      margin-top: 1em;
    }
  }
  &__meta {
    font: italic 500 10px/1.5 $font-base;
    letter-spacing: 0.01em;
    color: #929292;
    margin-top: 1.5em;

    @media $display-breakpoints.ms-and-down {
      font-size: 12px;
      margin-top: 0.5em;
    }
  }
}
