.page--about {

}
.about {
  &__block {
    background: rgba(40, 40, 40, 0.95);
    border: 2px solid $white;
    padding: 56px 66px;
    &--0 {
      padding-bottom: 205px;
      @media $display-breakpoints.sm-and-down {
        padding-bottom: 66px;
      }
      @media $display-breakpoints.ms-and-down {
        padding: vmin(20px);
      }
      .about__img {
        absolute(auto, 66px, -420px, auto);
        @media $display-breakpoints.sm-and-down {
          position: static;
        }
      }
    }
    &--1 {
      margin-top: 490px;
      margin-left: 66px;
      padding-top: 67px;
      flexy(flex-start, flex-start);
      height: 445px;
      @media $display-breakpoints.sm-and-down {
        margin-top: 60px;
        display: block;
        margin-left: 0;
        padding-top: 56px;
        height: auto;
      }
      @media $display-breakpoints.ms-and-down {
        padding: vmin(20px);
        margin-top: vmin(40px);
      }
      .about__img {
        order: 0;
        margin-left: -131px;
        margin-right: 42px;
        flex-shrink: 0;
        @media $display-breakpoints.sm-and-down {
          margin-left: 0;
          margin-right: 0;
        }
      }
      .about__text {
        order: 1;
      }
    }
    &--2 {
      margin-top: 320px;
      width: 503px;
      padding: 198px 34px 159px;
      @media $display-breakpoints.sm-and-down {
        width: auto;
        padding: 56px 66px;
        margin-top: 60px;
      }
      @media $display-breakpoints.ms-and-down {
        padding: vmin(20px);
        margin-top: vmin(40px);
      }
      .about__img {
        absolute(0px, auto, auto, -607px);
        @media $display-breakpoints.sm-and-down {
          position: static;
        }
      }
    }
  }
  &__text {
    font: 400 22px/37px $font-base;
    margin: 0;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(16px);
      line-height: vmin(22px);
    }
  }
  &__img {
    display: block;
    @media $display-breakpoints.sm-and-down {
      max-width: 100%;
      height: auto;
      margin-top: 25px;
    }
  }
}
