.profile {
  padding: 33px 36px 24px;
  @media $display-breakpoints.ms-and-down {
    padding: vmin(30px) vmin(12px) vmin(25px);
  }
  &--bank-data {
    .field__input {
      width: 190px;
      @media $display-breakpoints.ms-and-down {
        width: 100%;
      }
    }
    .btn {
      margin-top: 38px !important;

      @media $display-breakpoints.ms-and-down {
        margin-top: vmin(22px) !important;
      }
    }
  }
  &--pas-data {
    padding-bottom: 44px;
    @media $display-breakpoints.ms-and-down {
      padding-bottom: vmin(25px);
    }
  }
  &__title {
    margin-bottom: 45px;
    @media $display-breakpoints.ms-and-down {
      margin-bottom: vmin(20px);
    }
  }
  &__text {
    margin: 0 0 35px;
    @media $display-breakpoints.sm-and-down {
      margin-bottom: 25px;
    }
    @media $display-breakpoints.ms-and-down {
      margin-bottom: vmin(20px);
    }
  }
  &__heading {
    flexy(flex-start, center);
    @media $display-breakpoints.sm-and-down {
      justify-content: space-between;
    }
    @media $display-breakpoints.ms-and-down {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    @media $display-breakpoints.ms-and-down {
      margin-top: vmin(25px);
    }
  }
  &__row {
    flexy(flex-start, flex-start);
    flex-wrap: wrap;
    margin-bottom: 25px;
    @media $display-breakpoints.sm-and-down {
      flex-direction: column;
      margin-bottom: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &--long {
      @media $display-breakpoints.sm-and-down {
        flex-direction: row;
      }
      @media $display-breakpoints.ms-and-down {
        flex-direction: column;
      }
    }
    &--fio {
      .field:first-child {
        min-width: 347px;
        @media $display-breakpoints.sm-and-down {
          min-width: 294px;
        }
        @media $display-breakpoints.ms-and-down {
          min-width: 0;
        }
      }
    }
    &--pasp {
      .field:first-child {
        min-width: 253px;
        @media $display-breakpoints.ms-and-down {
          min-width: 0;
        }
      }
    }
    &--line {
      flexy(flex-start, flex-start);
      @media $display-breakpoints.sm-and-down {
        margin-bottom: 25px;
      }
      @media $display-breakpoints.ms-and-down {
        flex-direction: column;
        margin-bottom: vmin(25px);
      }
      .field.form__field {
        margin: 0 16px 0 0;
        flex: 0;
        @media $display-breakpoints.ms-and-down {
          margin-right: 0;
          margin-bottom: vmin(25px);
        }
        &:last-child {
          @media $display-breakpoints.ms-and-down {
            margin-bottom: 0;
          }
        }
      }
      .field{
        &__input {
          width: 174px;
          @media $display-breakpoints.sm-and-down {
            width: 121px;
          }
          @media $display-breakpoints.ms-and-down {
            width: 100%;
          }
          &--small {
            width: 80px;
            @media $display-breakpoints.ms-and-down {
              width: 100%;
            }
          }
          &--medium {
            width: 132px;
            @media $display-breakpoints.ms-and-down {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .field{
    &__label{
      &--file {
        margin-top: 0 !important;
        margin-left: 0;
        padding: 0 !important;
        min-width: 0;
        size(100px, 91px);
        border-radius: 0;
        border: 1px solid $white;
        background: $grey-l;
        @media $display-breakpoints.ms-and-down {
          size(vmin(116px), vmin(91px));
          display: inline-block;
          vertical-align: top;
          margin-bottom: 0;
        }
        &::after {
          content: '';
          absolute(0px, 0px, 0px, 0px);
          margin: auto;
          size(36px);
          background: url("../img/add.svg") top -8px left -8px no-repeat;
          background-size: 52px 52px;
          @media $display-breakpoints.ms-and-down {
            size(vmin(36px));
            background-size: vmin(52px) vmin(52px);
            background-position: top vmin(-8px) left vmin(-8px);
          }
        }
      }
    }
  }
  .field__input--semi-medium {
    width: 162px;
    @media $display-breakpoints.ms-and-down {
      width: 100%;
    }
  }
  textarea.field__input, textarea.field__file {
    size(553px, 140px);
    max-width: none;
    @media $display-breakpoints.sm-and-down {
      width: 400px;
    }
    @media $display-breakpoints.ms-and-down {
      width: 100%;
    }
  }
  &__btn {
    margin-top: 10px !important;
    @media $display-breakpoints.sm-and-down {
      margin-top: 30px !important;
    }
    @media $display-breakpoints.ms-and-down {
      margin-top: vmin(25px) !important;
    }
  }
  &__col {
    width: 50%;
    @media $display-breakpoints.sm-and-down {
      width: 100%;
      margin-bottom: 22px;
    }
    @media $display-breakpoints.ms-and-down {
      margin-bottom: vmin(22px);
    }
    &--long {
      width: 68.2%;
      padding-right: 103px;
      @media $display-breakpoints.sm-and-down {
        padding-right: 30px;
      }
      @media $display-breakpoints.ms-and-down {
        width: 100%;
        padding-right: 0;
      }
    }
    &--small {
      width: 31.8%;
      @media $display-breakpoints.ms-and-down {
        width: 100%;
      }
    }
  }
  .btn {
    margin-top: 40px;
    @media $display-breakpoints.sm-and-down {
      margin-top: 20px;
    }
    @media $display-breakpoints.ms-and-down {
      margin-top: vmin(22px);
    }
  }
  .field__input {
    padding: 9px 16px 8px;
    @media $display-breakpoints.sm-and-down {
      padding: 10px 16px;
    }
    @media $display-breakpoints.ms-and-down {
      padding: vmin(17px) vmin(18px);
    }
  }
}

.about-prizes {
  &__link {
    margin-left: 90px;
    font: 500 16px/20px $font-base;
    border: none;
    outline: none;
    @media $display-breakpoints.sm-and-down {
      margin-left: 0;
    }
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(15px);
      line-height: vmin(18px);
      text-align: left;
      margin-top: 10px;
    }
    &:hover {
      .about-prizes__link-title {
        text-decoration: none;
      }
    }
    &-title {
      text-decoration: underline;
    }
    .field__info {
      margin-right: 10px;
    }
    span {
      vertical-align: middle;
    }
  }
  &__row {
    flexy(flex-start, center);
    margin-bottom: 47px;
    @media $display-breakpoints.ms-and-down {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: vmin(55px);
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(2) {
      .about-prizes__count {
        font-size: 80px;
        line-height: 81px;
        @media $display-breakpoints.ms-and-down {
          font-size: vmin(80px);
          line-height: vmin(81px);
        }
      }
    }
  }
  &__img {
    display: block;
    size(133px, auto);
  }
  &__icon {
    size(24px);
    margin: 0 33px 0 38px;
    @media $display-breakpoints.sm-and-down {
      margin: 0 23px 0 28px;
    }
    @media $display-breakpoints.ms-and-down {
      margin: 0 vmin(23px) 0 vmin(28px);
    }
  }
  &__count {
    font: 400 100px/101px $font-util;
    margin-right: 56px;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(100px);
      line-height: vmin(101px);
      margin-right: 0;
    }
  }
  &__chance {
    font: 600 20px/24px $font-base;
    max-width: 155px;
    padding-bottom: 80px;
    margin-right: 114px;
    @media $display-breakpoints.sm-and-down {
      margin-right: 50px;
      font-size: 18px;
      line-height: 22px;
    }
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(20px);
      line-height: vmin(24px);
      margin-right: 0;
      margin-top: vmin(50px);
      padding-bottom: vmin(80px);
      transform: rotate(30deg);
      margin-left: vmin(-30px);
      max-width: vmin(155px);
    }
    &::after {
      content: '';
      absolute(auto, -7px, 11px, auto);
      background: url("../img/arrow-right2.png") center no-repeat;
      size(157px, 90px);
    }
  }
  &__prize {
    &--img {
      size(151px, auto);
      margin-top: 23px;
      @media $display-breakpoints.ms-and-down {
        margin-top: 0;
        width: vmin(220px);
      }
    }
    &--text {
      font: 400 82px/55px $font-util;
      text-transform: uppercase;
      max-width: 242px;
      text-align: right;
      margin-left: -50px;
      @media $display-breakpoints.sm-and-down {
        font-size: 82px;
        margin-left: 0;
      }
      @media $display-breakpoints.ms-and-down {
        text-align: center;
        display: block;
        font-size: vmin(82px);
        line-height: vmin(40px);
      }
      .first {
        font-size: 41px;
        padding-right: 30px;
        @media $display-breakpoints.sm-and-down {
          font-size: 30px;
        }
        @media $display-breakpoints.ms-and-down {
          font-size: vmin(30px);
        }
      }
      .line {
        font-size: 82px;
        line-height: 55px;
        @media $display-breakpoints.sm-and-down {
          font-size: 60px;
          line-height: 40px;
        }
        @media $display-breakpoints.ms-and-down {
          font-size: vmin(60px);
          line-height: vmin(40px);
          display: inline-block;
        }
      }
      .currency {
        text-transform: none;
        line-height: 41px;
        font-size: 41px;
        vertical-align: super;
        @media $display-breakpoints.sm-and-down {
          font-size: 30px;
          line-height: 1;
        }
        @media $display-breakpoints.ms-and-down {
          font-size: vmin(30px);
          line-height: vmin(30px);
        }
      }
    }
  }
}
