.page--faq {

}
.faq {
  max-width: 848px;
  @media $display-breakpoints.sm-and-down {
    max-width: 500px;
  }
  &__tip {
    margin: 96px 0 82px;
    @media $display-breakpoints.ms-and-down {
      margin: vmin(50px) 0 vmin(32px);
    }
    a {
      color: $red;
      text-decoration: underline;
      font-weight: 600;
      &:hover {
        color: $red;
        text-decoration: none;
      }
    }
  }
  &__img {
    absolute(28px, auto, auto, -100px);
    display: block;
    size(560px, auto);
    @media $display-breakpoints.md-and-down {
      right: auto;
      left: 50%;
      transform: translateX(307px);
    }
    @media $display-breakpoints.sm-and-down {
      size(375px, auto);
      transform: translateX(170px);
      top: 40px;
    }
    @media $display-breakpoints.ms-and-down {
      display: none;
    }
  }
}
