.page--home {

}
.main{
  &__img {
    absolute(0px, auto, auto, 0px);
    display: block;
    @media $display-breakpoints.md-and-down {
      right: auto;
      left: 50%;
      transform: translateX(97px);
    }
    @media (min-width: 1200px) and (max-width: 1400px) and (max-height: 700px) {
      transform: translateX(165px);
      max-width: 520px;
      height: auto;
    }
    @media $display-breakpoints.sm-and-down {
      size(375px, auto);
      transform: translateX(79px);
      top: 13px;
    }
    @media $display-breakpoints.ms-and-down {
      display: none;
    }
  }
  &__title {
    margin-top: 39px;
    display: inline-block;
    @media (min-width: 1200px) and (max-width: 1400px) and (max-height: 700px) {
      margin-top: 24px;
    }
    @media $display-breakpoints.ms-and-down {
      text-align: center;
      display: block;
      margin: vmin(16px) auto 0;
    }
    .fire-anim {
      animation-duration: 8s;
    }
    .line {
      margin-left: 18px;
      display: inline;
      @media $display-breakpoints.ms-and-down {
        margin-left: 0;
      }
    }
    .currency {
      text-transform: none;
      absolute(79px, auto, auto, -82px);
      @media $display-breakpoints.sm-and-down {
        right: 0;
        font-size: 66px;
        line-height: 1;
      }
      @media $display-breakpoints.ms-and-down {
        font-size: vmin(42px);
        line-height: vmin(42px);
        position: static;
        display: block;
      }
      .fire-anim {
        animation-duration: 2s;
      }
    }
  }
}
.fire-anim {
  background: url("../img/fire.gif") 0 0 repeat-x;
  background-size: auto 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  //animation: fire 10s linear infinite;
  backface-visibility: hidden;
  @media $display-breakpoints.ms-and-down {
    background-image: url("../img/fire.png");
    background-repeat: repeat;
    background-size: auto;
  }
  &--static {
    background-image: url("../img/fire.png");
    background-repeat: repeat;
    background-size: auto;
  }
}
.steps-slider {
  margin-top: 23px;
  @media $display-breakpoints.sm-and-down {
    margin-top: 40px;
  }
  @media $display-breakpoints.ms-and-down {
    margin-top: vmin(70px);
  }
}
.steps{
  display: flex;
  flex-direction: column;
  @media $display-breakpoints.ms-and-down {
    text-align: center;
    height: vmin(205px);
    flex-direction: row;
  }
  &__step {
    flexy(flex-start, center);
    @media $display-breakpoints.ms-and-down {
      flex-direction: column;
    }
    &:first-child {
      .steps__text {
        @media $display-breakpoints.ms-and-down {
          max-width: 170px;
        }
      }
    }
  }
  &__title {
    margin-right: 20px;
    @media $display-breakpoints.ms-and-down {
      margin-right: 0;
    }
  }
  &__row {
    display: block;
  }
  &__text {
    .sum {
      font-weight: 700;
      color: $red;
    }
    .btn {
      margin-left: 37px;
      @media $display-breakpoints.ms-and-down {
        margin-left: 0;
        margin-top: vmin(5px);
      }
    }
    .inline-text {
      @media $display-breakpoints.ms-and-down {
        display: block;
        text-align: center;
      }
    }
  }
}
.texta {
  fill: url(#p-fire);
  stroke: #330000;
  stroke-width: 8;
  stroke-opacity: .5;
  font-size: 100px;
}
