.page--products {

}

.products {
  flexy(flex-start, flex-start);
  flex-wrap: wrap;
  @media $display-breakpoints.ms-and-down {
    flex-direction: column;
    align-items: center;
  }
  .product {
    width: 33.33%;
    text-align: center;
    margin-bottom: 64px;
    @media $display-breakpoints.ms-and-down {
      width: 100%;
      margin-bottom: vmin(60px);
    }
    &--new {
      &::after {
        content: '';
        size(77px, 79px);
        absolute(36px, auto, auto, 35px);
        background: url("../img/new.png") center no-repeat;
        background-size: contain;
        @media $display-breakpoints.sm-and-down {
          right: -10px;
        }
        @media $display-breakpoints.ms-and-down {
          right: vmin(-12px);
          top: vmin(50px);
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &__title {
      max-width: 199px;
      min-height: 48px;
      margin: 0 auto 13px;
      font: 600 16px/24px $font-base;
      @media $display-breakpoints.ms-and-down {
        font-size: vmin(18px);
        line-height: vmin(24px);
        margin-bottom: vmin(13px);
        min-height: 0;
      }
    }
    &__img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto 24px;
      @media $display-breakpoints.sm-and-down {
        width: 80%;
      }
      @media $display-breakpoints.ms-and-down {
        margin-bottom: vmin(24px);
        width: auto;
      }
    }
  }
}
