.page--rules {

}
.rules {
  counter-reset: section;
  margin-top: 73px;
  @media $display-breakpoints.ms-and-down {
    margin-top: 0;
  }
}
.rules-block {
  &--0 {
    .rules-block__inner {
      justify-content: flex-start;
      padding-left: 153px;
      padding-top: 91px;
      @media $display-breakpoints.sm-and-down {
        padding-left: 0;
      }
      @media $display-breakpoints.ms-and-down {
        padding-top: vmin(40px);
      }
      &::before {
        content: '';
        absolute(236px, -50px);
        size(245px);
        background: url("../img/arrow-left.png") 0 0 no-repeat;
        @media $display-breakpoints.sm-and-down {
          left: -80px;
          top: 260px;
        }
        @media $display-breakpoints.ms-and-down {
          display: none;
        }
      }
    }
    &::after {
      content: '';
      absolute(130px, 440px);
      width: 290px;
      height: 280px;
      background: rgba(22, 84, 170, 0.7);
      opacity: 0.8;
      filter: blur(200px);
      @media $display-breakpoints.sm-and-down {
        left: 20px;
      }
    }
    &::before {
      content: '';
      absolute(130px, 135px);
      width: 290px;
      height: 280px;
      background: rgba(212, 9, 25, 0.8);
      opacity: 0.8;
      filter: blur(200px);
      @media $display-breakpoints.sm-and-down {
        display: none;
      }
    }
    .rules-block__img {
      display: block;
      &:first-child {
        @media $display-breakpoints.sm-and-down {
          display: none;
        }
      }
    }
  }
  &--1 {
    margin-top: 136px;
    @media $display-breakpoints.ms-and-down {
      margin-top: vmin(55px);
    }
    .rules-block__inner {
      &::after {
        content: '';
        absolute(auto, auto, -243px, 228px);
        size(289px);
        background: url("../img/arrow-right.png") 0 0 no-repeat;
        @media $display-breakpoints.sm-and-down {
          right: 0;
          bottom: -150px;
        }
        @media $display-breakpoints.ms-and-down {
          display: none;
        }
      }
    }
    .rules-block__img {
      margin-left: -80px;
      @media $display-breakpoints.sm-and-down {
        margin-top: 20px;
      }
      @media $display-breakpoints.ms-and-down {
        margin-top: vmin(50px);
        margin-left: 0;
      }
    }
    .rules-block__title {
      &::before {
        @media $display-breakpoints.ms-and-down {
          top: vmin(-3px);
        }
      }
    }
  }
  &--2 {
    margin-top: 91px;
    @media $display-breakpoints.ms-and-down {
      margin-top: vmin(70px);
    }
    .rules-block__title {
      &::before {
        font-size: 100px;
        @media $display-breakpoints.ms-and-down {
          font-size: vmin(64px);
          line-height: vmin(32px);
        }
      }
    }
    .rules-block__inner {
      padding-top: 131px;
      @media $display-breakpoints.ms-and-down {
        padding-top: vmin(50px);
      }
    }
  }
  &__title {
    font: 700 24px/36px $font-base;
    padding-left: 76px;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(20px);
      line-height: vmin(30px);
      padding-left: vmin(45px);
    }
    &::before {
      counter-increment: section;
      content: counter(section);
      absolute(-15px, 0px);
      font: 400 144px/71px $font-util;
      color: $red;
      text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
      @media $display-breakpoints.ms-and-down {
        top: vmin(15px);
        font-size: vmin(72px);
        line-height: vmin(36px);
      }
    }
  }
  &__inner {
    flexy(center, center);
    @media $display-breakpoints.ms-and-down {
      flex-direction: column;
    }
  }
  &__img {
    display: block;
    position: relative;
    z-index: 1;
    & + .rules-block__img {
      margin-left: 48px;
      @media $display-breakpoints.ms-and-down {
        margin-left: 0;
      }
    }
  }
  &__rules {
    font: 500 18px/27px $font-base;
    margin: 0;
    margin-left: 28px;
    max-width: 400px;
    position: relative;
    z-index: 1;
    @media $display-breakpoints.sm-and-down {
      max-width: 50%;
    }
    @media $display-breakpoints.ms-and-down {
      max-width: none;
      margin-left: 0;
      margin-top: vmin(30px);
      font-size: vmin(18px);
      line-height: vmin(27px);
    }
  }
}

.rules-slider {
  width: 100%;
  overflow: visible;
  @media $display-breakpoints.ms-and-down {
    overflow: hidden;
  }
}
.rules-prizes {
  flexy(space-between, flex-start);
  @media $display-breakpoints.sm-and-down {
    flex-direction: column;
    align-items: center;
  }
  @media $display-breakpoints.ms-and-down {
    flex-direction: row;
    align-items: flex-start;
  }
  &__prize {
    text-align: center;
    @media $display-breakpoints.ms-and-down {
      text-align: center;
      padding-bottom: vmin(20px);
    }
    &:nth-child(1) {
      width: 281px;
      @media $display-breakpoints.sm-and-down {
        width: auto;
      }
      &::after {
        content: '';
        absolute(50px, -50px);
        border-radius: 30px;
        width: 306px;
        height: 182px;
        background: rgba(255, 0, 0, 0.5);
        filter: blur(200px);
        @media $display-breakpoints.ms-and-down {
          display: none;
        }
      }
    }
    &:nth-child(2) {
      width: auto;
      &::after {
        content: '';
        absolute(0px, auto, 0px);
        border-radius: 30px;
        width: 377px;
        height: 364px;
        background: rgba(255, 216, 0, 0.6);
        opacity: 0.3;
        filter: blur(200px);
        @media $display-breakpoints.ms-and-down {
          display: none;
        }
      }
      .rules-prizes__title {
        font: 400 163px/109px $font-util;
        text-transform: uppercase;
        max-width: 500px;
        text-align: right;
        margin-left: -50px;
        @media $display-breakpoints.sm-and-down {
          font-size: 132px;
          max-width: 400px;
          margin-left: -20px;
          margin-top: 55px;
          margin-bottom: 55px;
        }
        @media $display-breakpoints.ms-and-down {
          text-align: center;
          display: block;
          font-size: vmin(85px);
          line-height: vmin(62px);
          margin-left: 0;
        }
        .first {
          font-size: 81px;
          padding-right: 30px;
          @media $display-breakpoints.sm-and-down {
            font-size: 50px;
          }
          @media $display-breakpoints.ms-and-down {
            font-size: vmin(46px);
          }
        }
        .line {
          font-size: 163px;
          line-height: 109px;
          @media $display-breakpoints.sm-and-down {
            font-size: 132px;
            line-height: 88px;
          }
          @media $display-breakpoints.ms-and-down {
            font-size: vmin(85px);
            line-height: vmin(57px);
            display: inline-block;
          }
        }
        .currency {
          text-transform: none;
          line-height: 50px;
          font-size: 81px;
          vertical-align: super;
          @media $display-breakpoints.sm-and-down {
            font-size: 66px;
            line-height: 1;
          }
          @media $display-breakpoints.ms-and-down {
            font-size: vmin(42px);
            line-height: vmin(42px);
          }
        }
      }
    }
    &:nth-child(3) {
      width: 266px;
      @media $display-breakpoints.sm-and-down {
        width: auto;
      }
      @media $display-breakpoints.ms-and-down {
        text-align: center;
      }
      &::after {
        content: '';
        absolute(50px, auto, auto, -50px);
        border-radius: 30px;
        width: 306px;
        height: 182px;
        background: rgba(0, 178, 255, 0.5);
        filter: blur(200px);
        @media $display-breakpoints.ms-and-down {
          display: none;
        }
      }
    }
  }
  &__title {
    font: 600 22px/27px $font-base;
    text-transform: uppercase;
    margin-bottom: 33px;
    @media $display-breakpoints.sm-and-down {
      text-align: center;
    }
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(20px);
      line-height: vmin(24px);
      margin-bottom: vmin(25px);
    }
  }
  &__img {
    display: block;
    margin-bottom: 64px;
    @media $display-breakpoints.sm-and-down {
      margin: 0 auto 64px;
    }
    @media $display-breakpoints.ms-and-down {
      margin-bottom: vmin(35px);
    }
  }
  &__btn {
    background: transparent;
    border-color: $white;
    font: 600 22px/27px $font-base;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(18px);
      line-height: vmin(24px);
    }
    &:hover {
      border-color: $white;
      color: $white;
      cursor: default;
    }
  }
}
