.page--winners {
  .page__heading {
    flexy(space-between, center);
    @media $display-breakpoints.ms-and-down {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

.pagenav {
  font: 500 20px/24px $font-base;
  flexy(flex-start, flex-start);
  margin-top: 43px;
  @media $display-breakpoints.sm-and-down {
    flex-direction: column;
  }
  @media $display-breakpoints.ms-and-down {
    margin-top: vmin(25px);
    font-size: vmin(18px);
    line-height: vmin(22px);
  }
  &__title {
    margin-right: 23px;
    @media $display-breakpoints.sm-and-down {
      margin-right: 0;
      margin-bottom: 7px;
    }
    @media $display-breakpoints.ms-and-down {
      margin-bottom: vmin(7px);
    }
  }
  &__item, &__start {
    margin-right: 28px;
    @media $display-breakpoints.ms-and-down {
      margin-right: vmin(15px);
    }
  }
  &__inner {
    flexy(flex-start, flex-start);
  }
  &__start, &__end, &__item {
    text-decoration: underline;
    white-space: nowrap;
    color: $red;
    font-weight: 600;
    &:hover {
      text-decoration: none;
      color: $red;
    }
  }
}
