.select2 {
  width: 279px;
  .select2-selection.select2-selection--single {
    background-color: #363636;
    border: 1px solid $white;
    border-radius: 0;
    box-shadow: none;
    .select2-selection__rendered {
      font: 14px/17px $font-base;
      color: $white !important;
      padding-top: 12px;
      padding-bottom: 11px;
      @media $display-breakpoints.ms-and-down {
        font-size: vmin(16px);
        line-height: vmin(18px);
        padding-top: vmin(17px);
        padding-bottom: vmin(17px);
      }
    }
    .select2-selection__arrow {
      width: 14px;
      right: 14px;
      @media $display-breakpoints.ms-and-down {
        width: vmin(14px);
        right: vmin(7px);
      }
      b {
        background-size: contain;
        size(14px, 7px);
        @media $display-breakpoints.ms-and-down {
          width: vmin(14px);
          height: vmin(7px);
          background-size: contain;
        }
      }
    }
  }
}
.select2-dropdown {
  background: #363636;
  color: $white;
  border: 1px solid $white;
  box-shadow: none;
  font: 14px/17px $font-base;
  border-radius: 0;
  @media $display-breakpoints.ms-and-down {
    font-size: vmin(16px);
    line-height: vmin(18px);
  }
  .select2-results__option {
    &:hover {
      background-color: $grey;
    }
    &[aria-selected=true] {
      background: transparent;
      &:hover {
        background-color: $grey;
      }
    }
  }
}
body > .select2-container {
  width: auto;
  z-index: 100;
}
