extends template

prepend page
	- var layout = 'inner';
	- var currentPage = 'about';
	- var pageTitle = false;
	- var pageDesc = false;
	- var pageImg = false;
	- var islogin = false;

block content
	- var page = pages[currentPage];
	.page(class="page--" + currentPage)
		.page-content
			.l-container
				.intro
					a.intro__logo(href=pages.intro.logo.url) 
						+icon('logo').icon
					.intro__title.tp-heading--large !{pages.intro.title}
				h2.page__heading.tp-heading--big !{page.title}
				.about
				each item, index in page.content
					.about__block(class=`about__block--${index}`)
						p.about__text !{item.text}
						img.about__img(src=item.img.src alt=item.img.alt)
