extends template

prepend page
	- var layout = 'inner'; 
	- var currentPage = 'account';
	- var pageTitle = false;
	- var pageDesc = false;
	- var pageImg = false;
	- var islogin = true;

block content
	- var page = pages[currentPage];
	.page(class="page--" + currentPage)
		.page-content
			.l-container
				.intro
					a.intro__logo(href=pages.intro.logo.url) 
						+icon('logo').icon
					.intro__title.tp-heading--large !{pages.intro.title}
				h2.page__heading.tp-heading--big.profile__heading
					span !{page.title}
					button.about-prizes__link.btn-popup(data-target=page.link.target) 
						span.field__info
							+icon('info')
						span.about-prizes__link-title !{page.link.title}
				.tabs
					.tabs__panel
						.tabs__navs
							.tabs__prev
								.tab-prev
									+icon('tab-prev')
							.tabs__next
								.tab-next
									+icon('tab-next')
						.tabs__controls
							each tab in page.tabs
								.tab-ctrl(data-tab=`#tab-${tab.id}`) 
									.tab-ctrl__title !{tab.title}
					.tabs__content 
						.tab(id=`tab-${page.tabs[0].id}`)
							.tab__inner
								form.profile(action="", method="POST")
									.profile__title.tp-body--medium-b !{page.tabs[0].subtitle}
									.profile__row
										.profile__col
											+fieldInput(`profile-${page.tabs[0].form[0].name}`, false, page.tabs[0].form[0].label, page.tabs[0].form[0].error)(type=page.tabs[0].form[0].type, name=page.tabs[0].form[0].name, value=page.tabs[0].form[0].value)
										.profile__col
											+fieldInput(`profile-${page.tabs[0].form[1].name}`, false, page.tabs[0].form[1].label, page.tabs[0].form[1].error)(type=page.tabs[0].form[1].type, name=page.tabs[0].form[1].name, value=page.tabs[0].form[1].value)
									.profile__row
										.profile__col
											+fieldInput(`profile-${page.tabs[0].form[2].name}`, false, page.tabs[0].form[2].label, page.tabs[0].form[2].error)(type=page.tabs[0].form[2].type, name=page.tabs[0].form[2].name, value=page.tabs[0].form[2].value)
									.profile__row
										.profile__col
											+fieldInput(`profile-${page.tabs[0].form[3].name}`, false, page.tabs[0].form[3].label, page.tabs[0].form[3].error)(type=page.tabs[0].form[3].type, name=page.tabs[0].form[3].name, value=page.tabs[0].form[3].value)
										.profile__col
											+fieldInput(`profile-${page.tabs[0].form[4].name}`, false, page.tabs[0].form[4].label, page.tabs[0].form[4].error)(type=page.tabs[0].form[4].type, name=page.tabs[0].form[4].name, value=page.tabs[0].form[4].value)
									button.btn(type=page.tabs[0].btn.type) !{page.tabs[0].btn.title}
						.tab(id=`tab-${page.tabs[1].id}`)
							.tab__inner
								.table
									.table__head
										for item, key in page.tabs[1].table.cols 
											.table__col(class=`table__col--${key}`) 
												.text !{item} 
									.table__body 
										for row in page.tabs[1].table.contents 
											.table__row 
												for item, key in row 
													.table__col(class=`table__col--${key}`)
														.label !{page.tabs[1].table.cols[key]}:
														if key === 'image' || key === 'date' || key === 'count' 
															if item
																.value !{item} 
															else 
																.value.value--none
														else 
															.state(class=`state--${item.state}`) 
																- var state = states[item.state]; 
																.state__icon
																	img(src=state.icon alt='') 
																.state__info 
																	if state.title 
																		.state__title !{state.title} 
						.tab(id=`tab-${page.tabs[2].id}`)
							.tab__inner
								.table.table--prizes
									.table__head 
										for item, key in page.tabs[2].table.cols 
											.table__col(class=`table__col--${key}`) 
												.text !{item}
									.table__body 
										for row in page.tabs[2].table.contents 
											.table__row 
												for item, key in row 
													.table__col(class=`table__col--${key}`) 
														.label !{page.tabs[2].table.cols[key]}:
														if key === 'image' || key === 'date' || key === 'count' || key === 'product' 
															if item
																.value !{item} 
															else 
																.value.value--none
														else 
															.state(class=`state--${item.state}`) 
																- var state = states[item.state]; 
																.state__icon
																	img(src=state.icon alt='') 
																.state__info 
																	if state.title 
																		.state__title !{state.title} 
						.tab(id=`tab-${page.tabs[3].id}`)
							form(action="", method="POST")
								.tab__inner
									.profile.profile--pas-data
										.profile__title.tp-body--medium-b !{page.tabs[3].subtitle}
										.profile__row.profile__row--line.profile__row--fio
											+fieldInput(`profile-data-${page.tabs[3].form[0].name}`, false, page.tabs[3].form[0].label, page.tabs[3].form[0].error)(type=page.tabs[3].form[0].type, name=page.tabs[3].form[0].name)
											+fieldInput(`profile-data-${page.tabs[3].form[1].name}`, false, false, page.tabs[3].form[1].error)(type=page.tabs[3].form[1].type, name=page.tabs[3].form[1].name)
											+fieldInput(`profile-data-${page.tabs[3].form[2].name}`, false, false, page.tabs[3].form[2].error)(type=page.tabs[3].form[2].type, name=page.tabs[3].form[2].name)
										.profile__row.profile__row--line.profile__row--pasp
											+fieldInput(`profile-data-${page.tabs[3].form[3].name}`, false, page.tabs[3].form[3].label, page.tabs[3].form[3].error)(type=page.tabs[3].form[3].type, name=page.tabs[3].form[3].name).field__input--small
											+fieldInput(`profile-data-${page.tabs[3].form[4].name}`, false, false, page.tabs[3].form[4].error)(type=page.tabs[3].form[4].type, name=page.tabs[3].form[4].name).field__input--medium
										+fieldTextarea(`profile-data-${page.tabs[3].form[5].name}`, false, page.tabs[3].form[5].label, page.tabs[3].form[5].error, 'form__field--start')(type=page.tabs[3].form[5].type, name=page.tabs[3].form[5].name, value=page.tabs[3].form[5].value)
										+fieldInput(`profile-data-${page.tabs[3].form[6].name}`, false, page.tabs[3].form[6].label, page.tabs[3].form[6].error)(type=page.tabs[3].form[6].type, name=page.tabs[3].form[6].name).field__input--semi-medium
										+fieldFile(`profile-data-${page.tabs[3].form[7].name}`, page.tabs[3].form[7].placeholder, page.tabs[3].form[7].label, page.tabs[3].form[7].error, 'form__field--start form__field--wrap')(type=page.tabs[3].form[7].type, name=page.tabs[3].form[7].name, accept=page.tabs[3].form[7].accept, multiple).js-img-add
										+fieldTextarea(`profile-data-${page.tabs[3].form[8].name}`, false, page.tabs[3].form[8].label, page.tabs[3].form[8].error, 'form__field--start')(type=page.tabs[3].form[8].type, name=page.tabs[3].form[8].name, value=page.tabs[3].form[8].value)
								.tab__inner
									.profile.profile--bank-data
										.profile__title.tp-body--medium-b !{page.tabs[3].subtitle2}
										+fieldInput(`profile-data-${page.tabs[3].form[9].name}`, false, page.tabs[3].form[9].label, page.tabs[3].form[9].error)(type=page.tabs[3].form[9].type, name=page.tabs[3].form[9].name).field__input--semi-medium
										+fieldInput(`profile-data-${page.tabs[3].form[10].name}`, false, page.tabs[3].form[10].label, page.tabs[3].form[10].error)(type=page.tabs[3].form[10].type, name=page.tabs[3].form[10].name)
										+fieldInput(`profile-data-${page.tabs[3].form[11].name}`, false, page.tabs[3].form[11].label, page.tabs[3].form[11].error)(type=page.tabs[3].form[11].type, name=page.tabs[3].form[11].name)
										button.btn(type=page.tabs[3].btn.type) !{page.tabs[3].btn.title}
						.tab(id=`tab-${page.tabs[4].id}`)
							.tab__inner
								form.profile(action="", method="POST")
									.profile__title.tp-body--medium-b !{page.tabs[4].subtitle}
									.profile__row.profile__row--long
										.profile__col--long
											p.profile__text.tp-body--base !{page.tabs[4].text[0]}
											p.profile__text.tp-body--base !{page.tabs[4].text[1]}
											+fieldInput(`profile-wa-${page.tabs[4].form[0].name}`, false, page.tabs[4].form[0].label, page.tabs[4].form[0].error)(type=page.tabs[4].form[0].type, name=page.tabs[4].form[0].name)
										.profile__col--small
											img.profile__img(src=page.tabs[4].img.src, alt=page.tabs[4].img.alt)
									button.btn.profile__btn(type=page.tabs[4].btn.type) !{page.tabs[4].btn.title}
