extends template

prepend page
	- var layout = 'inner';
	- var currentPage = 'faq';
	- var pageTitle = false;
	- var pageDesc = false;
	- var pageImg = false;
	- var islogin = true;

block content
	- var page = pages[currentPage];
	.page(class="page--" + currentPage)
		img.faq__img(src=pages.home.image.src, alt=pages.home.image.alt)
		.page-content
			.l-container
				.intro
					a.intro__logo(href=pages.intro.logo.url) 
						+icon('logo').icon
					.intro__title.tp-heading--large !{pages.intro.title}
				h2.page__heading.tp-heading--big !{page.title}
				.faq
					each item in page.content 
						.accordion 
							.accordion__panel 
								.accordion__title !{item.question} 
									.accordion__icon
							.accordion__content 
								.accordion__content-inner.tp-body--big !{item.answer}
				.faq__tip.tp-body--big !{page.tip} 
