extends template

prepend page
	- var layout = 'home';
	- var currentPage = 'home';
	- var pageTitle = false;
	- var pageDesc = false;
	- var pageImg = false;
	- var islogin = false;

block content
	- var page = pages[currentPage];
	.page(class="page--" + currentPage)
		img.main__img(src=page.image.src, alt=page.image.alt)
		.page-content
			.l-container
				.intro
					a.intro__logo(href=pages.intro.logo.url)
						+icon('logo').icon 
					.intro__title.tp-heading--large !{pages.intro.title}
				.steps-slider.swiper-container
					.steps
						each step in page.steps
							.steps__step.swiper-slide(class=step.class)
								.steps__title.tp-heading--semi-big !{step.title}
								.steps__text.tp-body--small !{step.text} 
					.swiper-pagination
					.swiper-button-prev.swiper-button-white
					.swiper-button-next.swiper-button-white
				.main__title.tp-heading--semi-large !{page.subtitle}
		
