mixin icon(iconName)
	svg&attributes(attributes).icon: use(xlink:href="#" + iconName)

//- social
mixin social(isInline, hasTitle)
	.social&attributes(attributes)(class=isInline ? "social--inline" : '')
		if hasTitle
			.social__title Поделиться проектом
		#share(data-services=settings.socials)

//- components
mixin navMenu(menuList, multi = false)
	nav&attributes(attributes).nav
		ul.nav__list
			for item in menuList
				li.nav__item(class=!item.active ? 'disabled' : '', class=multi && pages[item.key].nav ? 'multi' : '')
					a.nav__link.link-nav(href=item.url, data-stats="page_" + item.stats, class=((item.key === currentPage) || (currentPage === 'home' && item.key === 'hash' && item.hash === 'start')) ? 'active' : '', class=(item.key === 'anchor') ? 'js-anchor' : '', class=(item.hash) ? 'js-hash': '', data-hash=(item.key === 'hash') ? item.hash : false) !{item.title}
					if multi && pages[item.key].nav
						button.btn.btn--plain.btn-accordion-menu.l-hidden-md-up
							+icon('angle-down')
						.nav__submenu.subnav
							ul.subnav__list
								for subitem in pages[item.key].nav
									li.subnav__item
										a.subnav__link(href=subitem.url, class=(subitem.key === currentPage) ? 'active' : '', class=(subitem.key === 'anchor') ? 'js-anchor' : '')= subitem.title

mixin pic(item)
	div&attributes(attributes).picture
		.picture__img: img(src=item.val, alt=item.alt)
		.picture__info
			.picture__caption !{item.caption}
			.picture__meta !{item.meta}

mixin pageNav(items)
	div&attributes(attributes).page-nav
		ol.page-nav__list
			for item, index in items
				li.page-nav__item(class=index === 0 ? 'active' : '')
					a.page-nav__link.js-anchor(href="#" + item.id) !{item.title}

mixin video(modalID, videoURL, poster)
	.video__wrapper
		div&attributes(attributes).video
			.video__poster: img(src=poster, alt="")
			.video__play.btn-modal(data-target="#" + modalID)
				+icon('play')
		+modal(modalID).modal--video
			.yt
				iframe(id=modalID + "-iframe", src=videoURL + "?rel=0&enablejsapi=1&html5=1", allow="autoplay; encrypted-media", allowfullscreen)

mixin carousel(items)
	div&attributes(attributes).swiper-container
		.swiper-wrapper
			for item, index in items
				.swiper-slide
					.swiper-slide__title !{item.title}
					.swiper-slide__img: img(src=item.img, alt=item.title)
		.swiper-button-prev
			+icon('angle-left')
		.swiper-button-next
			+icon('angle-right')

mixin popup(popupID, contentClass)
	div&attributes(attributes).popup(id=popupID)
		.popup__window
			.popup__close.btn-close-popup
				+icon("cross").icon--block
			.popup__inner
				.popup__content(class=contentClass)
					block

//- forms
mixin fieldInput(inpID, inpPlaceholder, inpLabel, error, info, fieldClass)
	.field.form__field(class=fieldClass ? fieldClass : "")
		if inpLabel
			.field__label-text !{inpLabel}
				if info
					span.field__info
						+icon('info')
						span.tooltip !{info}
		label.field__label(for=inpID)
			input&attributes(attributes).field__input(id=inpID)
			if inpPlaceholder
				.field__placeholder !{inpPlaceholder}
		if error
			.field__error !{error}
		block
		
mixin fieldSelect(inpID, selOptions, inpPlaceholder, inpLabel, error)
	.field.form__field.field--select
		if inpLabel
			.field__label-text !{inpLabel}
		label.field__label(for=inpID)
			select&attributes(attributes).field__select.js-select(id=inpID, data-placeholder = inpPlaceholder ? inpPlaceholder : false)
				if inpPlaceholder
					option
				for opt in selOptions
					option(selected=opt.selected, id=opt.id) !{opt.title}
		if error
			.field__error !{error}
		block

mixin fieldFile(inpID, inpPlaceholder, inpLabel, error, fieldClass = false, filePath)
	.field.form__field(class=fieldClass ? fieldClass : "")
		if inpLabel
			.field__label-text !{inpLabel}
		if filePath
			.field-path.js-file-path-wrap
				.field-path__path.js-file-path
				.field-path__remove.js-file-path-remove
		label.btn.btn--red.field__label.field__label--file(for=inpID)
			input&attributes(attributes).field__input(id=inpID)
			if inpPlaceholder
				.field__name-text !{inpPlaceholder}
		if error
			.field__error !{error}
		block

mixin fieldTextarea(inpID, inpPlaceholder, inpLabel, error, fieldClass)
	.field.form__field(class=fieldClass ? fieldClass : "")
		if inpLabel
			.field__label-text !{inpLabel}
		label.field__label.field__label--msg(for=inpID)
			textarea&attributes(attributes).field__input(id=inpID, maxlength="1000")
			.flow-textarea-example
			if inpPlaceholder
				.field__placeholder !{inpPlaceholder}
		if error
			.field__error !{error}
		block

mixin fieldSearch(inpID, inpPlaceholder)
	.field.form__field.field--search
		label.field__label(for=inpID)
			input&attributes(attributes).field__input(id=inpID)
			.field__placeholder !{inpPlaceholder}
		button.btn-search.field__btn.btn.btn--plain
			+icon('loupe')

mixin fieldCheckbox(inpID, inpText, fieldClass = false, error)
	.field.form__field.field--checkbox(class=fieldClass ? fieldClass : "")
		label.field__label(for=inpID)
			.field__box
				input&attributes(attributes).field__input(id=inpID, type="checkbox")
				.field__check
			.field__text !{inpText}
		if error
			.field__error !{error}

mixin fieldRadio(inpID, inpText, fieldClass = false)
	.field.form__field.field--radio(class=fieldClass ? fieldClass : "")
		label.field__label(for=inpID)
			.field__box
				input&attributes(attributes).field__input(id=inpID, type="radio")
			.field__text !{inpText}
