extends template

prepend page
	- var layout = 'default';
	- var currentPage = 'popups';
	- var pageTitle = false;
	- var pageDesc = false;
	- var pageImg = false;

block content
	- var page = pages[currentPage];
	.page(class="page--" + currentPage)
		.page-content
			.l-container--fluid
				for item, key in popups
					button.btn.btn-popup(class=key === 'qr' ? 'js-scanner-btn' : "", data-target=`#${key}-popup`) !{key}
