extends template

prepend page
	- var layout = 'inner';
	- var currentPage = 'products';
	- var pageTitle = false;
	- var pageDesc = false;
	- var pageImg = false;
	- var islogin = false;

block content
	- var page = pages[currentPage];
	.page(class="page--" + currentPage)
		.page-content
			.l-container
				.intro
					a.intro__logo(href=pages.intro.logo.url) 
						+icon('logo').icon
					.intro__title.tp-heading--large !{pages.intro.title}
				h2.page__heading.tp-heading--big !{page.title} 
				.products 
					each product in page.content
						.product(class=product.class)
							.product__title !{product.title} 
							img.product__img(src=product.img.src, alt=product.img.alt)
							a.product__btn.btn(href=product.btn.url) !{product.btn.title} 
