extends template

prepend page
	- var layout = 'inner';
	- var currentPage = 'rules';
	- var pageTitle = false;
	- var pageDesc = false;
	- var pageImg = false;
	- var islogin = false;

block content
	- var page = pages[currentPage];
	.page(class="page--" + currentPage)
		.page-content
			.l-container
				.intro
					a.intro__logo(href=pages.intro.logo.url) 
						+icon('logo').icon
					.intro__title.tp-heading--large !{pages.intro.title}
				h2.page__heading.tp-heading--big !{page.title} 
				.rules 
					.rules-block.rules-block--0
						.rules-block__title !{page.content[0].title} 
						.rules-block__inner
							img.rules-block__img(src=page.content[0].img.src alt=page.content[0].img.alt)
							img.rules-block__img(src=page.content[0].img2.src alt=page.content[0].img2.alt)
							p.rules-block__rules !{page.content[0].rules}
					.rules-block.rules-block--1
						.rules-block__title !{page.content[1].title} 
						.rules-block__inner
							img.rules-block__img(src=page.content[1].img.src alt=page.content[1].img.alt)
					.rules-block.rules-block--2
						.rules-block__title !{page.content[2].title} 
						.rules-block__inner
							.rules-slider.swiper-container 
								.rules-prizes
									.rules-prizes__prize.swiper-slide 
										//.rules-prizes__title !{page.content[2].weekly.title} 
										img.rules-prizes__img(src=page.content[2].weekly.img.src alt=page.content[2].weekly.img.alt) 
										.rules-prizes__btn.btn !{page.content[2].weekly.btn.title} 
									.rules-prizes__prize.swiper-slide 
										.rules-prizes__title !{page.content[2].main.title}
									.rules-prizes__prize.swiper-slide 
										//.rules-prizes__title !{page.content[2].daily.title} 
										img.rules-prizes__img(src=page.content[2].daily.img.src alt=page.content[2].daily.img.alt) 
										.rules-prizes__btn.btn !{page.content[2].daily.btn.title} 
								.swiper-pagination 
								.swiper-button-prev.swiper-button-white 
								.swiper-button-next.swiper-button-white
