include ./mixins
doctype html
block page
  html
    head
      block head
        title= pageTitle ? pageTitle : settings.ogDefaults.title
        meta(property="og:title", content=pageTitle ? pageTitle : settings.ogDefaults.title)
        meta(property="og:description", content=pageDesc ? pageDesc : settings.ogDefaults.description)
        if settings.ogDefaults.image
          meta(property="og:image", content=pageImg ? pageImg : settings.ogDefaults.image)
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
        link(rel="shortcut icon" href="favicon.ico", type="image/x-icon")
        each item in settings.styles.head
          link(href=item, rel="stylesheet")
        link(href="build/css/main.css", rel="stylesheet")
        each item in settings.scripts.head
          script(src=item)
    body
      .svg-sprite
      script
        | $('.svg-sprite').html(SVG_SPRITE);
      .layout(class="layout--" + layout, class=(islogin ? 'layout--islogin' : ""), class="layout--" + currentPage)
        include parts/header
        block content
        include parts/footer
        
      include popups/register-popup
      include popups/login-popup
      include popups/success-popup
      include popups/success_wa-popup
      include popups/rules-popup
      include popups/forget-popup
      include popups/age-popup
      include popups/qr-popup
      include popups/feedback-popup
      include popups/products-popup
      #apm-widget

      each item in settings.scripts.foot
        script(src=item)
      script(src="build/js/main.js") 
