extends template

prepend page
	- var layout = 'inner';
	- var currentPage = 'winners';
	- var pageTitle = false;
	- var pageDesc = false;
	- var pageImg = false;
	- var islogin = false;

block content
	- var page = pages[currentPage];
	.page(class="page--" + currentPage)
		.page-content
			.l-container
				.intro
					a.intro__logo(href=pages.intro.logo.url) 
						+icon('logo').icon
					.intro__title.tp-heading--large !{pages.intro.title}
				h2.page__heading.tp-heading--big
					span !{page.title} 
					.page__search
						span.page__search-title !{page.search.title}
						+fieldSearch(page.search.id) 
				.tabs
					.tabs__panel
						.tabs__navs
							.tabs__prev
								.tab-prev
									+icon('tab-prev')
							.tabs__next
								.tab-next
									+icon('tab-next')
						.tabs__controls
							each tab in page.tabs
								.tab-ctrl(data-tab=`#tab-${tab.id}`) 
									.tab-ctrl__title !{tab.title}
					.tabs__content 
						each tabContent in page.tabs
							.tab(id=`tab-${tabContent.id}`)
								.tab__inner
									.table 
										.table__head
											for item, key in tabContent.table.cols 
												.table__col(class=`table__col--${key}`) 
													.text !{item} 
										.table__body 
											for row in tabContent.table.contents 
												.table__row 
													for item, key in row 
														.table__col(class=`table__col--${key}`)
															.label !{tabContent.table.cols[key]}:
															if item 
																.value !{item} 
															else 
																.value.value--none
				.pagenav
					.pagenav__title !{page.pagenav.title}
					.pagenav__inner
						a.pagenav__start(href='#') !{page.pagenav.start}
						each pageEl in page.pagenav.pages
							a.pagenav__item(href='#') !{pageEl}
						a.pagenav__end(href='#') !{page.pagenav.end}
