include ../mixins
+popup('age-popup', 'age').popup--small.unclosed
	- var popup = popups.age
	.popup__head 
		.popup__heading.tp-heading--small !{popup.title}
	p.popup__text.tp-body--base !{popup.subtitle}
	.popup__btns
		button.btn.btn-close-popup(class=`btn--${popup.actions[0].style}`, class=`btn-${popup.actions[0].action}`) !{popup.actions[0].title}
		button.btn.btn-close-popup(class=`btn--${popup.actions[1].style}`, class=`btn-${popup.actions[1].action}`) !{popup.actions[1].title}
