include ../mixins
+popup('feedback-popup', 'feedback')
	- var popup = popups.feedback
	.popup__head
		.popup__heading.tp-heading--medium !{popup.title}
	form.popup__form.feedback__form(action="", method="POST")
		for item in popup.form
			if item.type === 'text' || item.type === 'email' || item.type === 'password'
				+fieldInput(`feedback-popup-${item.name}`, false, item.label, item.error, item.info)(type=item.type, name=item.name, value=item.value)
			if item.type === 'select'
				+fieldSelect(`feedback-${item.name}`, item.options, false, item.label, item.error)(name=item.name)
			if item.type === 'textarea'
				+fieldTextarea(`feedback-${item.name}`, false, item.label, item.error)(type=item.type, name=item.name, value=item.value, required=item.required)
			if item.type === 'file'
				+fieldFile(`feedback-${item.name}`, item.placeholder, item.label, item.error, false, true)(type=item.type, name=item.name, value=item.value, accept=item.accept)
		.g-recaptcha(data-theme='dark', data-sitekey=popup.recaptcha)
		for item in popup.form
			if item.type === 'checkbox'
				+fieldCheckbox(`feedback-popup-${item.name}`, item.label, false, item.error)(name=item.name)
		.popup__btns
			button.btn(class=`btn--${popup.actions[0].style}`, class=`btn-${popup.actions[0].action}`) !{popup.actions[0].title}
