include ../mixins
+popup('forget-popup', 'forget').popup--small 
	- var popup = popups.forget
	.popup__head
		.popup__heading.tp-heading--medium !{popup.title}
	p.popup__text.tp-body--semi-medium !{popup.subtitle}
	form.popup__form.register__form(action="", method="POST")
		for item in popup.form
			if item.type === 'text' || item.type === 'email' || item.type === 'password'
				+fieldInput(`forget-popup-${item.name}`, false, item.label, item.error, item.info, 'field__label-text--top')(type=item.type, name=item.name, value=item.value)
		.popup__btns
			button.btn(class=`btn--${popup.actions[0].style}`, class=`btn-${popup.actions[0].action}`) !{popup.actions[0].title}
