include ../mixins
+popup('login-popup', 'login')
	- var popup = popups.login
	.popup__head
		.popup__heading.tp-heading--medium !{popup.title}
	p.popup__text.tp-body--semi-medium !{popup.subtitle}
	.popup__services
		for item in popup.services
			a.popup-service(href=item.url)
				+icon(item.icon)
	form.popup__form.register__form(action="", method="POST")
		for item in popup.form
			if item.type === 'text' || item.type === 'email' || item.type === 'password'
				+fieldInput(`login-popup-${item.name}`, false, item.label, item.error, item.info, 'field__label-text--top')(type=item.type, name=item.name, value=item.value)
		for item in popup.form
			if item.type === 'checkbox'
				+fieldCheckbox(`login-popup-${item.name}`, item.label)(name=item.name) 
		.popup__btns
			button.btn(class=`btn--${popup.actions[0].style}`, class=`btn-${popup.actions[0].action}`) !{popup.actions[0].title}
			.popup__btns-sep или 
			button.btn.btn-popup(class=`btn--${popup.actions[1].style}`, class=`btn-${popup.actions[1].action}`, data-target='#register-popup') !{popup.actions[1].title}
