include ../mixins
+popup('products-popup', 'products').popup--big
	- var popup = popups.products
	.popup__head 
		.popup__heading.tp-heading--small !{popup.title}
	.about-prizes
		each row in popup.content
			.about-prizes__row
				img.about-prizes__img(src=row.img.src, alt=row.img.alt)
				+icon('cross').about-prizes__icon
				.about-prizes__count !{row.count}
				.about-prizes__chance !{row.chance}
				.about-prizes__prize
					if row.prizeType === 'img'
						img.about-prizes__prize.about-prizes__prize--img(src=row.prize.src, alt=row.prize.alt)
					else
						.about-prizes__prize.about-prizes__prize--text 
							span.fire-anim !{row.prize}
