include ../mixins
+popup('qr-popup', 'qr').popup--small
	- var popup = popups.qr
	.popup__head 
		.popup__heading.tp-heading--medium !{popup.title}
	p.popup__text.tp-heading--semi-small !{popup.subtitle}
	form.form.modal-form.js-scan-form(action="#" method="get")
		.qr-block__field
			video#qr-video(webkit-playsinline, playsinline, muted)
	.popup__btns.popup__btns--row
		button.btn(class=`btn--${popup.actions[0].style}`, class=`btn-${popup.actions[0].action}`) !{popup.actions[0].title}
		button.btn(class=`btn--${popup.actions[1].style}`, class=`btn-${popup.actions[1].action}`) !{popup.actions[1].title}
