include ../mixins
+popup('register-popup', 'register')
	- var popup = popups.register
	.popup__head
		.popup__heading.tp-heading--medium !{popup.title}
	p.popup__text.tp-body--semi-medium !{popup.subtitle}
	.popup__services
		for item in popup.services
			a.popup-service(href=item.url)
				+icon(item.icon)
	form.popup__form.register__form(action="", method="POST")
		for item in popup.form
			if item.type === 'text' || item.type === 'email' || item.type === 'password'
				+fieldInput(`register-popup-${item.name}`, false, item.label, item.error, item.info, 'field__label-text--top')(type=item.type, name=item.name, value=item.value)
		for item in popup.form
			if item.type === 'checkbox'
				+fieldCheckbox(`register-popup-${item.name}`, item.label, false, item.error)(name=item.name)
		.g-recaptcha(data-theme='dark', data-sitekey=popup.recaptcha)
		.popup__btns
			button.btn(class=`btn--${popup.actions[0].style}`, class=`btn-${popup.actions[0].action}`) !{popup.actions[0].title}
			.popup__btns-sep или 
			button.btn.btn-popup(class=`btn--${popup.actions[1].style}`, class=`btn-${popup.actions[1].action}`, data-target='#login-popup') !{popup.actions[1].title}
	p.popup__text.tp-body--small !{popup.tip}
