include ../mixins
+popup('rules-popup', 'rules').popup--small
	- var popup = popups.rules
	.popup__head 
		.popup__heading.tp-heading--small !{popup.title}
	.popup__btns
		a.btn(href=popup.actions[0].url, class=`btn--${popup.actions[0].style}`, class=`btn-${popup.actions[0].action}`) !{popup.actions[0].title}
			
