include ../mixins
+popup('success_wa-popup', 'success_wa').popup--small
	- var popup = popups.success_wa
	.popup__head
		.popup__heading.tp-heading--small !{popup.title}
	p.popup__text.tp-body--base !{popup.subtitle}
	.popup__btns
		button.btn.btn-close-popup(class=`btn--${popup.actions[0].style}`, class=`btn-${popup.actions[0].action}`) !{popup.actions[0].title}
			
