.steps-slider, .rules-slider {
  .swiper-button-next, .swiper-button-prev, .swiper-pagination {
    display: none;
    @media $display-breakpoints.ms-and-down {
      display: block;
    }
  }
  .swiper-button-prev, .swiper-button-next {
    width: 8px;
    height: 12px;
    background-size: contain;
    top: auto;
    bottom: 16px;
    margin-top: 0;
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-pagination {
    margin-top: 8px;
  }
  .swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid $white;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background-color: $red;
      border-color: $red;
    }
  }
}
