.footer {
  width: 100%;
  padding: 20px 0 27px;
  overflow: hidden;
  margin-top: 43px;
  @media $display-breakpoints.sm-and-down {
    padding-bottom: 37px;
    margin-top: 64px;
  }
  @media $display-breakpoints.ms-and-down {
    margin-top: vmin(35px);
  }
  &__row {
    width: 100%;
    flexy(space-between, center);
    flex-wrap: wrap;
    @media $display-breakpoints.ms-and-down {
      flex-direction: column;
    }
    &:first-child {
      padding-bottom: 52px;
      &::after {
        content: '';
        absolute(auto, 0px, 26px, auto);
        size(100%, 1px);
        background: #C4C4C4;
        opacity: 0.2;
        @media $display-breakpoints.sm-and-down {
          opacity: 1;
        }
      }
    }
    &:last-child {
      @media $display-breakpoints.sm-and-down {
        flex-direction: column;
      }
      .footer__col {
        @media $display-breakpoints.sm-and-down {
          width: 100%;
          text-align: center;
        }
        &:nth-child(2) {
          @media $display-breakpoints.sm-and-down {
            order: 0;
          }
        }
        &:nth-child(1) {
          @media $display-breakpoints.sm-and-down {
            order: 1;
          }
        }
      }
    }
  }
  &__col {
    width: 50%;
    @media $display-breakpoints.ms-and-down {
      width: 100%;
      text-align: center;
    }
    &:last-child {
      text-align: right;
      @media $display-breakpoints.ms-and-down {
        text-align: center;
      }
    }
  }
  &__content {

  }
  &__copyright {
    @media $display-breakpoints.sm-and-down {
      margin-top: 20px;
      color: #ABABAB;
    }
  }
  &__feedback {
    text-align: right;
    line-height: 26px;
    @media $display-breakpoints.ms-and-down {
      text-align: center;
      margin-top: vmin(15px);
    }
    a {
      color: $red;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__terms {
    display: inline-block;
    text-align: right;
    text-decoration: underline;
    {hover-focus-active} {
      text-decoration: none;
      outline: none;
      //color: $redDark;
    }
  }
  &__social-title {
    margin-bottom: 9px;
    @media $display-breakpoints.ms-and-down {
      margin-bottom: vmin(12px);
    }
  }
  &__social-services {
    flexy(flex-start, center);
    @media $display-breakpoints.ms-and-down {
      justify-content: space-between;
    }
    .social-service {
      margin-right: 44px;
      @media $display-breakpoints.ms-and-down {
        margin-right: 0;
      }
      &:hover {
        .icon {
          color: $red;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &.vk {
        size(31px, 18px);
      }
      &.inst {
        size(25px, 26px);
      }
      &.youtube {
        size(30px, 21px);
      }
      &.dzen {
        size(26px, 26px);
      }
      &.twitter {
        size(26px, 22px);
      }
      &.fb {
        size(12px, 23px);
      }
      .icon {
        display: block;
        size(100%);
        transition: color .2s ease-in-out;
      }
    }
  }
}
