.header {
	absolute(0px, 0px);
	width: 100%;
	right: 0;
	z-index: 99;
	color: $white;
	box-sizing: border-box;
	transition: background .3s;

	&.scrolled {
		//background: rgba(#1A1919, 0.6);
		.menu-opened & {
			background: transparent;
		}
	}
	&__menu {
		z-index: 10;
	}
	&__content {
		flexy(flex-end, center);
		padding: 71px 0 0;
		@media (min-width: 1200px) and (max-width: 1400px) and (max-height: 700px) {
	    padding-top: 20px;
	  }
		@media $display-breakpoints.sm-and-down {
			padding-top: 47px;
			padding-bottom: 10px;
		}
		@media $display-breakpoints.ms-and-down {
	    padding-top: vmin(30px);
			padding-bottom: vmin(10px);
	  }
	}
}
