.intro {
  flexy(flex-start, flex-start);
  padding-top: 71px;
  @media (min-width: 1200px) and (max-width: 1400px) and (max-height: 700px) {
    padding-top: 10px;
  }
  @media $display-breakpoints.sm-and-down {
    display: block;
    padding-top: 35px;
  }
  @media $display-breakpoints.ms-and-down {
    flexy(flex-start, flex-start);
    padding-top: vmin(25px);
  }
  &__logo {
    display: block;
    margin-left: -30px;
    @media $display-breakpoints.sm-and-down {
      margin-left: 0;
      display: inline-block;
    }
    .icon {
      size(213px, 140px);
      display: block;
      @media $display-breakpoints.sm-and-down {
        size(118px, 77px);
      }
      @media $display-breakpoints.ms-and-down {
        size(vmin(101px), vmin(66px));
      }
    }
  }
  &__title {
    margin-top: 89px;
    margin-left: -35px;
    max-width: 540px;
    text-align: center;
    @media $display-breakpoints.sm-and-down {
      text-align: left;
      margin-left: 0;
      margin-top: 52px;
    }
    @media $display-breakpoints.ms-and-down {
      margin-top: vmin(15px);
      margin-left: vmin(15px);
    }
  }
}
