.main-menu {
  box-sizing: border-box;
  z-index: 9;
  transition: top 0.3s ease-in-out;
  @media $display-breakpoints.sm-and-down {
    width: 100%;
    padding: 92px 20px 62px;
    fixed(0px, 0px);
    top: -100%;
    background: $grey;
  }
  @media $display-breakpoints.ms-and-down {
    height: 100%;
    flexy(center, center);
    padding: vmin(14px) vmin(20px) vmin(28px);
  }
  &.opened {
    top: 0;
  }
  &__submenu {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    absolute(60px, auto, auto, 0px);
    width: 176px;
    text-align: center;
    @media $display-breakpoints.sm-and-down {
      position: static;
      margin-right: auto !important;
      margin-left: auto;
    }
  }
  &__dropdown {
    opacity: 0;
    pointer-events: none;
    absolute(auto, 50%, -15px, auto);
    transform: translate(-50%, 100%);
    text-align: left;
    min-width: 177px;
    border: 1px solid $white;
    background-color: $grey-l;
    transition opacity 0.2s ease-in-out;
    @media $display-breakpoints.sm-and-down {
      position: static;
      transform: none;
      text-align: center;
      border: none;
      background-color: transparent;
      min-width: 0;
      pointer-events: auto;
      opacity: 1
    }
    .opened & {
      opacity: 1;
      pointer-events: auto;
    }
    .main-menu__link {
      padding: 0 31px;
      box-sizing: border-box;
      display: block;
      margin-right: 0;
      font-weight: 400 !important;
      line-height: 40px;
      transition background 0.2s ease-in-out;
      @media $display-breakpoints.sm-and-down {
        padding: 0;
        text-align: center;
        line-height: 1;
        margin-bottom: 15px;
      }
      &:hover {
        color: $white;
        background-color: $red;
      }
    }
  }
  &__avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    size(32px);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    @media $display-breakpoints.sm-and-down {
      margin-bottom: 15px;
    }
  }
  &__name {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media $display-breakpoints.sm-and-down {
      margin-bottom: 15px;
      max-width: 200px;
    }
    &::after {
      content: '';
      size(9px, 5px);
      absolute(6px, auto, auto, 0px);
      transform: rotate(180deg);
      transform-origin: 50% 50%;
      background: url("../img/arrow.png") center no-repeat;
      background-size: cover;
      transition transform 0.2s ease-in-out;
      @media $display-breakpoints.sm-and-down {
        display: none;
      }
      .opened & {
        transform: rotate(0deg);
      }
    }
  }
  &__content {
    @media $display-breakpoints.sm-and-down {
      text-align: center;
    }
  }
  &__link {
    color: $white;
    transition color 0.2s ease-in-out;
    margin-right: 19px;
    {hover-focus-active} {
      color: $white;
    }
    @media $display-breakpoints.sm-and-down {
      display: block;
      text-align: center;
      margin-bottom: 36px;
      margin-right: 0;
    }
    @media $display-breakpoints.ms-and-down {
      margin-bottom: vmin(25px);
    }
    &:last-child {
      margin-right: 0;
      @media $display-breakpoints.sm-and-down {
        margin-bottom: 0;
      }
    }
    &:hover {
      color: $red;
      transition-delay: 0s !important;
      text-decoration: none;
    }
    &--load {
      margin-right: 0;
    }
    &--lk {
      absolute(70px, auto, auto, 0px);
      width: 176px;
      font: 600 15px/18px $font-base;
      text-align: center;
      text-decoration: underline;
      @media $display-breakpoints.sm-and-down {
        position: static;
        width: auto;
        font-size: 18px;
        line-height: 20px;
      }
      @media $display-breakpoints.ms-and-down {
        font-size: vmin(16px);
        line-height: vmin(20px);
      }
    }
    &--logout {
      padding-left: 52px !important;
      position: relative;
      @media $display-breakpoints.sm-and-down {
        display: inline-block !important;
        padding-left: 20px !important;
      }
      &::before {
        content: '';
        size(13px);
        absolute(13px, 31px);
        background: url("../img/logout.svg") center no-repeat;
        background-size: cover;
        @media $display-breakpoints.sm-and-down {
          left: 0;
          top: 0;
        }
      }
    }
    &.active {
      color: $red;
      pointer-events: none;
    }
    &.btn {
      display: inline-block;
      padding: 14px 26px;
    }
  }
}
