.table {
  @media $display-breakpoints.sm-and-down {
    text-align: center;
  }
  br {
    @media $display-breakpoints.sm-and-down {
      display: none;
    }
  }
  &__head {
    flexy(flex-start, flex-end);
    color: $white;
    font: 600 16px/20px $font-base;
    padding: 35px 0;

    @media $display-breakpoints.sm-and-down {
      display: none;
    }

    .page--winners & {
      font: 700 18px/22px $font-base;
    }

    .table__col {
      min-width: 212px;
      padding-right: 10px;
      &:first-child {
        padding-left: 34px;
        .page--winners & {
          padding-left: 66px;
        }
      }
      &:last-child {
        padding-right: 20px;
      }
      &--count {
        min-width: 247px;
      }
      &--product {
        min-width: 131px;
      }
      &--date {
        .table--prizes & {
          min-width: 247px;
        }
      }
      &--prize {
        min-width: 276px;
      }
      &--phone {
          min-width: 456px;
      }
      &--daily {
        min-width: 281px;
      }
      &--weekly {
        min-width: 273px;
      }
    }
  }
  &__body {
    font: 600 16px/20px $font-base;
    color: $white;
    @media $display-breakpoints.sm-and-down {
      font-weight: 400;
    }
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(16px);
      line-height: vmin(20px);
    }
    .page--winners & {
      font-weight: 400;
    }
    .table__col {
      min-width: 212px;
      padding-right: 10px;
      @media $display-breakpoints.sm-and-down {
        margin-bottom: 10px;
        padding-left: 10px;
      }
      @media $display-breakpoints.ms-and-down {
        margin-bottom: vmin(10px);
        padding-left: vmin(10px);
        padding-right: vmin(10px);
        min-width: 0 !important;
      }
      &:first-child {
        padding-left: 34px;
        @media $display-breakpoints.sm-and-down {
          padding-left: 10px;
        }
        @media $display-breakpoints.ms-and-down {
          padding-left: vmin(10px);
        }
        .page--winners & {
          padding-left: 66px;
          @media $display-breakpoints.sm-and-down {
            padding-left: 10px;
          }
          @media $display-breakpoints.ms-and-down {
            padding-left: vmin(10px);
          }
        }
      }
      &:last-child {
        padding-right: 20px;
        @media $display-breakpoints.sm-and-down {
          padding-right: 10px;
        }
        @media $display-breakpoints.ms-and-down {
          padding-right: vmin(10px);
        }
      }
      &--count {
        font-weight: 400;
        min-width: 247px;
      }
      &--date {
        font-weight: 400;
        .table--prizes & {
          min-width: 247px;
        }
      }
      &--prize {
        min-width: 276px;
      }
      &--phone {
          min-width: 456px;
      }
      &--daily {
        min-width: 281px;
      }
      &--weekly {
        min-width: 273px;
      }
      &--image {
        text-decoration: underline;
      }
      &--product {
        min-width: 131px;
        font-weight: 400;
        a {
          text-decoration: underline;
          color: $red;
        }
      }
      .label {
        display none;

        @media $display-breakpoints.sm-and-down {
          display: inline-block;
          color: $red;
          font-weight: 600;
        }
      }
    }
  }
  &__row {
    flexy(flex-start, center);
    padding: 26px 0;
    background: $grey;

    @media $display-breakpoints.ms-and-down {
      padding: vmin(25px) 0;
    }

    &:nth-child(2n + 1) {
      background: $grey-l;
    }

    @media $display-breakpoints.sm-and-down {
      display: block;
    }
  }
  .value {
    a {
      text-decoration: underline;
    }
    @media $display-breakpoints.sm-and-down {
      display: inline-block;
    }
    &--none {
      width: 90px;
      @media $display-breakpoints.ms-and-down {
        width: vmin(90px);
      }
      &::before {
        content: '';
        absolute(50%, 0px);
        size(100%, 1px);
        background: $white;
      }
    }
  }
}

.state {
  flexy(flex-start, center);
  @media $display-breakpoints.sm-and-down {
    justify-content: center;
  }

  &__icon {
    margin-right: 9px;
    @media $display-breakpoints.ms-and-down {
      margin-right: vmin(9px);
    }
  }

  &__title {
    text-align: left;
  }

  &--win, &--win-p {
    img {
      size(33px);
      display: block;
      @media $display-breakpoints.ms-and-down {
        size(vmin(33px));
      }
    }
    .marked {
      text-decoration: underline;
      color: #00CE00;
    }
  }
  &--lose, &--lose-p {
    font-weight: 400;
    img {
      size(30px, 28px);
      display: block;
      @media $display-breakpoints.ms-and-down {
        size(vmin(30px), vmin(28px));
      }
    }
  }
  &--waiting {
    img {
      size(16px);
      display: block;
      @media $display-breakpoints.ms-and-down {
        size(vmin(16px));
      }
    }
  }
}
