.tabs {
  &__panel {
    @media $display-breakpoints.sm-and-down {
      max-width: 100%;
      overflow: hidden;
    }
  }
  .tab__inner {
    border: 2px solid $white;
    & + .tab__inner {
      margin-top: 12px;
      @media $display-breakpoints.ms-and-down {
        margin-top: vmin(12px);
      }
    }
  }
  &__content {
    margin-top: 8px;
    background: $grey;
    @media $display-breakpoints.ms-and-down {
      margin-top: vmin(8px);
    }
  }
  &__controls {
    flexy(space-between, center);
    @media $display-breakpoints.sm-and-down {
      justify-content flex-start;
      height: 76px;
    }
  }
  .tab {
    display none;
  }
  &__navs {
    absolute(0px, 0px);
    size(100%, 0px);
    display none;

    @media $display-breakpoints.sm-and-down {
      display block;
    }
  }
  &__prev,
  &__next {
    size(1em);
    font-size: 25px;
    line-height 1;
    color: $white;
    absolute(0px);
    transform: translateY(23px);
    cursor pointer;
    z-index: 2;
  }
  &__prev {
    left vmin(10px);
  }
  &__next {
    right vmin(10px);
  }
}

.tab-ctrl {
  flexy(center, center);
  flex: 1 1 auto;
  border: 2px solid $white;
  background: $grey-l;
  margin-right: 8px;
  padding: 16px 0;
  cursor: pointer;
  @media $display-breakpoints.sm-and-down {
    min-height: 76px;
  }
  &:last-child {
    margin-right: 0;
  }

  @media $display-breakpoints.sm-and-down {
    width: 100%;
    absolute(0px, 0px);
    transform: translateX(-100%);
    transition: transform 0.3s;
  }

  &__title {
    font: 500 16px/20px $font-base;
    @media $display-breakpoints.sm-and-down {
      font-size: 18px;
      text-align: center;
    }
    @media $display-breakpoints.ms-and-down {
      max-width: vmin(220px);
    }
    .page--winners & {
      font: 700 20px/24px $font-base;
      @media $display-breakpoints.sm-and-down {
        font-size: 18px;
      }
    }
  }

  &.active {
    background: $red;

    @media $display-breakpoints.sm-and-down {
      transform: translateX(0);

      & + .tab-ctrl {
        transform: translateX(100%);
      }
    }
  }
}
