.footer
	.l-container
		.footer__content
			.footer__row
				.footer__col
					.footer__social-title.tp-body--base !{footer.services.title}
					.footer__social-services
						for socItem in footer.services.content
							a.social-service(href=socItem.url, class=socItem.icon)
								svg.icon: use(xlink:href="#" + socItem.icon)
				.footer__col
					.footer__feedback.tp-body--base !{footer.feedback}
			.footer__row
				.footer__col
					.footer__copyright.tp-body--base !{footer.copyright}
				.footer__col
					| * 
					a.footer__terms.tp-body--base(href=footer.rules.url) !{footer.rules.text}
					|&nbsp;| 
					a.footer__terms.tp-body--base(href=footer.terms.url) !{footer.terms.text}
