include ../mixins
.header
  .l-container
    .header__content
      .main-menu
        .main-menu__content
          each link in nav
            if !link.menu
              a.main-menu__link.tp-body--medium(class=link.class, class=(currentPage === link.page ? 'active' : ""), href=link.url, data-target=link.target) !{link.title}
            else
              if islogin
                .main-menu__link.main-menu__submenu.js-submenu(class=link.class)
                  .main-menu__avatar(style='background-image: url(build/img/user.svg); background-size: cover;')
                  .main-menu__name.tp-body--small !{link.title}
                  .main-menu__dropdown
                    each sublink in link.dropdown
                      a.main-menu__link.tp-body--small(class=sublink.class, href=sublink.url, data-target=sublink.target) !{sublink.title}
      .header__menu
        .btn-menu
          .top
          .bottom
