#apm-widget {
    absolute()
}
.apm-form-container {
    margin: 0 auto;
    text-align: center;
    position: relative;
    background: 0 0;
    padding-bottom: 16px
}

.apm-uploader-input {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer
}

.apm-qr-code {
    width: 20px;
    height: 20px;
    vertical-align: middle
}

.apm-btn-manual-input, .apm-block-btn.apm-action-button  {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font: 600 16px/1 'Montserrat', sans-serif;
    border: 2px solid #df2527;
    padding: 14px 38px;
    min-width: 111px;
    background: #df2527;
    border-radius: 200px;
    box-sizing: border-box;
    cursor: pointer;
    min-width: 297px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: transparent;
      color: #df2527;
    }
}

.apm-btn-link {
    text-decoration: none;
    display: block;
    text-align: center;
    width 100%;

    & + & {
        margin-top: 16px;

        @media $port {
            margin-top: vmin(10, 320);
        }
    }
}

.apm-qr-btn-text {
    text-transform none

    &:first-letter {
        text-transform uppercase
    }
}

.apm-action-button {
    text-align: center;
    margin: 0
}

.apm-modal-widget {
    width: 320px;
    box-shadow: 0 30px 50px 0 rgba(0,0,0,.08);
    background-color: #fff;
    margin: auto;
    padding-bottom: 40px
}

div.apm-title {
    padding: 0
}

h3.apm-title {
    font: 700 25px/37px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align center;
    margin-bottom: 20px;
    margin-top: 0;
}

h3.apm-title-manual {
    padding-top: 0
}

.apm-description-title {
    padding: 0
}

.apm-p {
    font: 400 18px/22px $font-base;
    text-align center;
    margin: 20px 0 !important;
    @media $display-breakpoints.ms-and-down {
      font-size: vmin(18px);
      line-height: vmin(22px);
    }
}
.apm-block-wrong-qr {
    margin: 0 auto vmin(32);

    @media $port {
        margin-bottom: vmin(32, 320);
    }
}

.apm-number-sign {
    width: 24px;
    height: 22px;
    font-family: Montserrat,sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    color: #ff5d5f
}

.apm-receipt-number {
    width: 89px;
    height: 29px;
    font-family: Montserrat,sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 4px;
    text-align: center;
    color: #714141
}

.apm-phone-input {
    max-width: 336px;
    width: 100%;
    border: 1px solid #fff;
    color: #fff;
    background-color: #363636;
    display block;
    font: 14px/21px 'Montserrat', sans-serif;
    padding: 12px 16px;
    vertical-align: middle;
    box-shadow: none;
    box-sizing: border-box;
    margin: 0 0 vmin(8) 0;

    @media $display-breakpoints.ms-and-down {
        font-size: vmin(14, 320);
        padding: vmin(10, 320);
        margin-bottom: vmin(8, 320);
    }
}

.apm-img-error-block {
    size(90px);
    margin: 0 auto vmin(16);
    background: url('../img/error.svg') center no-repeat;
    background-size contain;

    @media $port {
        size(vmin(90, 320));
        margin-bottom: vmin(16, 320);
    }
}

.apm-img-error {
    display none;
}

.apm-img-in-progress-block {
    text-align: center;
    position: relative
}

.apm-btn-transparent {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 256px;
    height: 48px;
    border-radius: 4px;
    line-height: 48px;
    text-align: center;
    padding: 16px 0 0
}

.apm-btn-link-transparent {
    color: #4190ff
}

.apm-p-input {
    display block;
    max-width: 336px;
    margin-left: auto;
    margin-right: auto;
    font: 400 16px/20px 'Montserrat', sans-serif;
    color: #fff;
    margin-bottom: vmin(4);

    @media $display-breakpoints.ms-and-down {
        font-size: vmin(13, 320);
        margin-bottom: vmin(4, 320);
    }
}

.apm-validation-error {
    color: #c4c4c4;
    font: 400 12px/15px 'Montserrat', sans-serif;
    margin-top: vmin(4);
    margin-left: auto;
    margin-right: auto;
    max-width: 336px;

    @media $display-breakpoints.ms-and-down {
        font-size: vmin(12, 320);
        margin-top: vmin(4, 320);
    }
}

.apm-qr-input {
    margin-bottom: 0
    margin-left: auto;
    margin-right: auto;
}

.apm-submit-qr {
    margin-top: vmin(24);

    @media $port {
        margin-top: vmin(24, 320);
    }
}

.apm-block-qr {
    text-align: left
    margin-top: vmin(20);

    @media $port {
        margin-top: vmin(20, 320);
    }
}

.apm-block-qr-video {
    padding: 0
}

.apm-qr-video {
    width: 100%
}

.apm-btn-main {
    > .apm-btn-link {
        display none;
    }
}

.apm-action-button-dupe {
    margin: auto
}

.apm-modal {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    z-index: 1050;
    height: 100%;
    outline: 0
}

.apm-modal-dialog {
    position: relative;
    absolute(50%, 50%);
    transform: translate(-50%, -50%);
    max-height: 100vh;
    width: 100%;
    pointer-events: none;
    max-width: 523px;

    @media $display-breakpoints.ms-and-down {
      transform: none;
      top: 0;
      left: 0;
      margin-top: 0;
      min-height: 100vh;
    }
}

.apm-modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    border: solid 4px #fff;
    background-color: #282828;
    backdrop-filter: blur(3px);
    border-radius: 0;
    outline: 0;

    @media $display-breakpoints.ms-and-down {
        height: 100vh;
        overflow-y: auto;
        border-radius: 0;
        border: none;
        backdrop-filter: none;
    }
}

#qr-upload-photos-button {
  .apm-btn-manual-input {
    background: transparent;
    border-color: $white;
  }
}

.apm-modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.apm-close {
    absolute(32px);
    right: 35px;
    z-index: 5;
    size(18px);
    border: none;
    color: $white;
    cursor: pointer;
    background: url('../img/cross.svg') center no-repeat;
    background-size: cover;
    @media $display-breakpoints.ms-and-down {
      top: 20px;
      right: 20px;
    }
}

.apm-modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    padding: 65px 10px;
}
.apm-block-qr-video {
    margin: 0 auto 22px;
    width: 290px;
    height: 189px;
    border: 2px solid #fff;
    overflow: hidden;
}

.apm-modal-open {
    overflow: hidden
}

.apm-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(#060606, 0.5);
}

#apm-upload-button {
    max-width: 336px;
    margin-top: vmin(20);
    border: 2px dashed #fff;
    flexy(center, center);
    padding: 30px;
    color: #fff;
    background: transparent;

    @media $port {
        margin-top: vmin(20, 320);
        padding: vmin(20, 320);
    }

    .btn-content {
        background: transparent;
        padding 0;
        color: $primary;
    }

    &:hover {
        background: transparent;
        color: $red;
        border-color: $red;

        .btn-content {
            color: $red;
            background: transparent;
        }
    }

    .icon {
        font-size: 36px;
        flex: 0 0 36px;
        margin-right: vmin(16);

        @media $port {
            font-size: vmin(24, 320);
            margin-right: vmin(16, 320);
        }
    }

    .text {
        font: 400 16px/1 $font-base;
        text-decoration underline;
        color: inherit;

        @media $port {
            font-size: vmin(16, 320);
        }
    }
}

#apm-manual-upload {
    .apm-qr-btn-text:first-letter {
        text-transform uppercase;
    }
}

#apm-photos-thumbnails-container {
    margin: vmin(20) vmin(-5) 0;
    flexy(flex-start, flex-start);

    @media $port {
        margin: vmin(20, 320) vmin(-5, 320) vmin(32, 320);
    }
}

.apm-photo-thumbnail-wrapper {
    size(vmin(55));
    margin: vmin(5);
    background: #161616;

    @media $port {
        size(vmin(55, 320));
        margin: vmin(5, 320);
    }
}

.apm-photo-thumbnail-image {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.apm-remove-photo-button {
    absolute(0px, 0px);
    size(100%);
    background: rgba(#161616, 0.5);
    color: #D9C9A7;
    flexy(center, center);
    cursor: pointer;
    border: none;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;

    &::before {
        content: '';
        circle(vmin(24));
        flexy(center, center);
        cursor inherit;
        box-sizing: border-box;
        background: url('../img/cross-small.svg') center no-repeat;
        background-size: vmin(10);
        background-color: #191818;

        @media $port {
            size(vmin(24, 320));
            background-size: vmin(10, 320);
        }
    }

    &:hover {
        opacity: 1;
    }
}
